@charset "utf-8";
/* CSS Document */
/* Author: Javier Zavaleta */

/*********************************************************************
**** RESET CSS *******************************************************
*********************************************************************/
@import url("reset.css");

/*********************************************************************
**** FONT-FACE *******************************************************
*********************************************************************/

@font-face{
  font-family: 'EamesCenturyModernBold';
  src: url('fonts/eames_century_modern_bold.eot');
  src: url('fonts/eames_century_modern_bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/eames_century_modern_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'EamesCenturyModernBook';
  src: url('fonts/EamesCenturyModern-Book.eot');
  src: url('fonts/EamesCenturyModern-Book.eot?#iefix') format('embedded-opentype'),
       url('fonts/EamesCenturyModern-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'GothamBook';
  src: url('fonts/gotham_book.eot');
  src: url('fonts/gotham_book.eot?#iefix') format('embedded-opentype'),
       url('fonts/gotham_book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesqueBold';
    src: url('fonts/brandon_bld-webfont.eot');
    src: url('fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_bld-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrandonGrotesqueLight';
    src: url('fonts/brandon_light-webfont.eot');
    src: url('fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrandonGrotesqueRegular';
    src: url('fonts/brandon_reg-webfont.eot');
    src: url('fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* PARA TEST AB  */

.modNuevoHome {
  /* background: #dc1c23;
  background-image: url("images/bg_puntos2.png");
  background-image: url("images/bg_puntos2.png"), linear-gradient(#92191d, #dc1c23);  */

  background: linear-gradient(#92191d, #dc1c23), url("images/bg_puntos.png");
  position: relative;
  height: 630px;
}

.modNuevoHome .wrap{
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 150px;
  width: 1200px;
  position: relative;
}

.modNuevoHome .box {
  width: 340px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 150px;
  transform: translate(-50%,0);
}

.modNuevoHome .box p {
    font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: #fff;
    display: block;
    text-align: center;
}



.modNuevoHome .box a {
  background-color: #d52128;
  display: block;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #FFF;
  padding: 15px 0px;
  border: 0;
  margin: 0 auto;
  cursor: pointer;
  width: 250px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #f0c92a;
}

.modNuevoHome .premios {
  display: block;
  margin:  20px auto;
}

.modNuevoHome .premios.image__mobile {
  display: none;
}

.modNuevoHome h3 {
    font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    color: #ffd917;
}

.modNuevoHome .barra {
  display: block;
  position: absolute;
  bottom: 0px;
  padding: 20px 0;
  height: 50px;
  width: 100%;
  background-color: #c01a21;
}

.modNuevoHome .videoMenu{
  width: 700px;
  display: flex;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}

.modNuevoHome .videoMenu a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  width: 32.5%;
  display: inline-block;
  text-align: center;
  outline: none;
  cursor: pointer;

}

.modNuevoHome a.facebook, .modNuevoHome a.youtube{
  display: block;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.modNuevoHome a.facebook {
  background-image: url(images/ico_facebook.png);
  right: 90px;
  bottom: 20px;
}

.modNuevoHome a.youtube{
  background-image: url(images/ico_youtube.png);
  right: 35px;
  bottom: 20px;
}


/*********************************************************************
*** CSS STYLES *******************************************************
*********************************************************************/
body{

  background:#d91f27 url("images/bg_puntos.png");
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.otrosPremios {
  display: block;
  text-align: center;
  font-family: "EamesCenturyModernBold";
  font-size: 15px !important;
  color: #eec72a;
  border: 0;
  padding: 8px 20px;
  width: 140px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 10px !important;
  cursor: pointer !important;
  text-decoration: underline;
}

.btnIniciarSubasta {
  font-family: "EamesCenturyModernBold";
  font-size: 20px !important;
  color: #d41f27;
  background: #eec72a;
  border: 0;
  padding: 8px 20px;
  display: block;
  text-transform: uppercase;
  margin-top: 30px !important;
  cursor: pointer !important;
}

.container_prize_sale{
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container_prize_sale .item{
  display: block;
  width: 49%;
}

.container_prize_sale .prize_sale {
  border-right: 2px solid #f0c92a;
}

.container_prize_sale .prize_sale h4 {
    text-align: center;
    color: #FFFFFF;
    font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 50px;
}

.container_prize_sale .prize_sale img {
    display: block;
    margin: 0 auto;
}

.lblErrorSubasta {
  text-align: center;
  color: #ffd817;
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
}


.container_prize_sale .prize_crono .crono {
    font-family: "BrandonGrotesqueRegular", Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    width: 105px;
    padding-left: 40px;
    margin: 15px auto;
    background: url(images/participa/crono.png) no-repeat 0 0;
}

.container_prize_sale .prize_crono p.recuerda {
    font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-transform: none;
    text-align: center;
}

.container_prize_sale .prize_crono .tus_puntos {
    text-align: center;
    color: #ffd817;
    font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.container_prize_sale .prize_crono input {
  line-height: 35px;
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 75%;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.container_prize_sale .prize_crono a.boton {
  background: #efc82a;
  margin-top: 30px !important;
}

.blockParticipa .modActual {
  display: block;
  left: 0;
  top: 100px;
  line-height: 25px;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffd817;
  text-transform: uppercase;
}

.blockParticipa .modActual span.intPuntos {
  font-size: 25px;
}

.blockParticipa .modActual button {
  background: #FFF;
  border-radius: 5px;
  display: block;
  border: none;
  text-transform: uppercase;
  color: #58595b;
  line-height: 30px;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}


/*********************************************************************
*** HEADER CONQUISTA ***********************************************************
*********************************************************************/
.wrpHead{
  display: block;
  position: relative;
  z-index: 2;
  background: url(images/bg_puntos2.png) center 0;
}

.wrpHead .header{
  display: block;
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

.wrpHead .header h1{
  display: block;
  float: left;
  padding-left: 45px;
  padding-right: 100px;
}

.wrpHead .header h1 a{
  background: transparent url(images/logo_ritz.png) no-repeat 0% 50%;
  background-size: cover;
  font-size: 1px;
  color: #fff;
  display: block;
  height: 192px;
  width: 200px;
  text-decoration: none;
  text-indent: -9999px;
  position: absolute;
}

/* - MAIN MENU - */
.menu{
  display: block;
  float: right;
  overflow: hidden;
  width: 578px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu ul{}

.menu ul li{}

.menu ul li a{
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 70px;
  display: block;
  float: left;
  outline: none;
  padding: 0px 32px;
  text-decoration: none;
  -webkit-transition: color .5s ease 0s;
  -moz-transition: color .5s ease 0s;
  transition: color .5s ease 0s;
}

.menu ul li a:hover,
.menu ul li a.active{
  color: #ffdd17;
}

.btnMenu{
  background: transparent url(images/ico_menu.png) no-repeat 50% 50%;
  cursor: pointer;
  display: none;
  height: 45px;
  width: 45px;
  position: absolute;
  top: 10px;
  right: 30px;
}

/* - MOVIL MENU - */
.movMenu{
  background: #d91f27;
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.movMenu .btnClose{
  background: transparent url(images/btn_close2.png) no-repeat 50% 50%;
  cursor: pointer;
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.movMenu .btnSesion{
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 45px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 220px;
}

.movMenu .lblUser{
  background: #dd3423;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff100;
  display: block;
  padding: 20px 35px;
}

.movMenu ul{
  display: block;
  padding: 0px 15px;
}

.movMenu ul li{
  display: block;
}

.movMenu ul li a{
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #fff;
  line-height: 50px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.movMenu ul li a.active{
  color: #fff100;
}

.movMenu ul li:first-child a{
  /* border-top: 1px #e55a22 solid; */
}


.movMenu .menuRedes{
  display: block;
  padding-top: 25px;
  width: 90px;
  margin: 0 auto;
}

.movMenu .menuRedes .btnFacebook{
  background: transparent url(images/ico_facebook.png) no-repeat 0% 0%;
  background-size: 40px 40px;
  font-size: 1px;
  color: #fff;
  display: block;
  float: left;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
  text-indent: -9999px;
}

.movMenu .menuRedes .btnYoutube{
  background: transparent url(images/ico_youtube.png) no-repeat 0% 0%;
  background-size: 40px 40px;
  font-size: 1px;
  color: #fff;
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  text-decoration: none;
  text-indent: -9999px;
}

/* - MODULE: USER - */
.modUser{
  display: block;
  float: right;
  margin-top: 40px;
  padding-right: 40px;
  width: 220px;
}

.modUser .btnSesion{
  background: #d91f27;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  border: 2px #f0c92a solid;
  text-align: center;
  text-decoration: none;
  width: 130px;
  padding: 15px 0;
  outline: none;
  -webkit-transition: color .5s ease 0s;
  -moz-transition: color .5s ease 0s;
  transition: color .5s ease 0s;
  text-align: center;
}

.modUser .btnSesion:hover{
  color: #f4d029;
}

.modUser p{
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #f5cd2c;
  /* display: none; */
  float: right;
  text-align: right;
}

.modUser p span{
  font-size: 16px;
  color: #fff;
}

.modUser .btnOption{
  background: transparent url(images/ico_user.png) no-repeat 0% 0%;
  cursor: pointer;
  /* display: none; */
  margin-left: 15px;
  float: right;
  height: 33px;
  width: 33px;
}


.boxUser{
  display: none;
  width: 190px;
  position: absolute;
  top: 70px;
  right: 34px;
  z-index: 4;
}

.modUser .btnOption:hover .boxUser{
  display: block;
}

.boxUser .arrowTop{
  background: transparent url(images/arrow_popup.png) no-repeat 160px 0%;
  display: block;
  height: 8px;
}

.boxUser ul{
  background: #fff;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.boxUser ul li{

}

.boxUser ul li a{
  font-family: "EamesCenturyModernBold", Arial Helvetica, sans-serif;
  font-size: 15px;
  color: #d91f27;
  line-height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.boxUser ul li.logout a{
  border-top: 1px #efeff0 solid;
  color: #929497;
}

/*********************************************************************
*** PAGE: HOME *******************************************************
*********************************************************************/
.modVideo{
  background: transparent url(images/video.png) no-repeat center center;
  background-size: cover;
  display: block;
  height: 600px;
  position: relative;
}

.modVideo .videoMenu{
  width: 700px;
  display: flex;
  margin: auto;
  bottom: 20px;
  left: 0;
  right: 0;
  position: absolute;
}

.modVideo .videoMenu a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  width: 32.5%;
  display: inline-block;
  text-align: center;
  outline: none;
  cursor: pointer;

}

.modVideo a.facebook, .modVideo a.youtube{
  display: block;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.modVideo a.facebook {
  background-image: url(images/ico_facebook.png);
  right: 90px;
  bottom: 20px;
}

.modVideo a.youtube{
  background-image: url(images/ico_youtube.png);
  right: 35px;
  bottom: 20px;
}

.icoPlay{
  background: transparent url(images/ico_play.png) no-repeat 0% 0%;
  cursor: pointer;
  display: block;
  height: 68px;
  width: 68px;
  margin-top: -36px;
  margin-left: -36px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modHomePremios{
  display: block;
  padding: 50px 0;
  position: relative;
  width: 550px;
  margin: 0 auto;
}

.modHomePremios h3 {
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: #fff;
  width: 550px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.modHomePremios h3 span {
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
}

.modHomePremios .sliderPremios {
  display: block;
  width: 250px;
  margin: 30px auto;
}

.modHomePremios .sliderPremios .item{
  display: block;
}

.modHomePremios .sliderPremios .item p{
  display: block;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #f1ca2a;
  text-align: center;
  margin-top: 20px;
}

.modHomePremios .sliderPremios .item img{
  display: block;
  margin: 0 auto;
}

.modHomePremios a.btnAcumular {
  background-color: #FFFFFF;
  display: block;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #d51f27;
  padding: 10px 20px;
  border: 0;
  margin: 50px auto 0 auto;
  cursor: pointer;
  width: 300px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/*********************************************************************
*** BLOCK: MECANICATEST **************************************************
*********************************************************************/
.blockMecanicaTest{
  /* background-color: #f1ca2a; */
  background: #f1ca2a url(images/bg_puntos2.png);
  display: block;
}

.blockMecanicaTest .wrap{
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 1200px;
}

.blockMecanicaTest .tituloBloque {
  color: #d51f27 !important;
}

.blockMecanicaTest .wrap .pasos{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.blockMecanicaTest .wrap .pasos .tab h3 {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-left: 50px;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22029;
}
.blockMecanicaTest .wrap .pasos .tab p {

  display: block;
  font-family: "BrandonGrotesqueRegular", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  width: 280px;
  /* padding-left: 50px; */
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
}

.blockMecanicaTest .wrap .pasos .tab p.ademas {
  text-align: center;
  padding-left: 0;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
    color: #d22029;
}

.blockMecanicaTest .wrap .pasos .tab p.podrias {
  text-align: center;
  padding-left: 0;
  width: 100%;
}

.blockMecanicaTest .wrap .pasos .tab img {
  display: block;
  margin: 20px auto;
}

.blockMecanicaTest .wrap .pasos .paso1 {
  border-right: 3px solid #d51f27;
}

.blockMecanicaTest .wrap .pasos .paso3 {
  border-left: 3px solid #d51f27;
  padding-left: 10px;
}

.blockMecanicaTest .wrap .pasos .paso1 h3 {
  background: url(images/mecanica/1.png) no-repeat 0 0;
}

.blockMecanicaTest .wrap .pasos .paso2 h3 {
  background: url(images/mecanica/2.png) no-repeat 0 0;
}

.blockMecanicaTest .wrap .pasos .paso3 h3 {
  background: url(images/mecanica/3.png) no-repeat 0 0;
}

.blockMecanicaTest .wrap .pasos .paso3 a {
  background-color: #d51f27;
  display: block;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFF;
  padding: 10px;
  border: 0;
  margin: 50px auto 0 auto;
  cursor: pointer;
  width: 250px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}


/*********************************************************************
*** BLOCK: MECANICA **************************************************
*********************************************************************/
.blockMecanica{
  background-color: #f1ca2a;
  display: block;
}

.blockMecanica .wrap{
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
  width: 1024px;
}

.blockMecanica .pasos{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blockMecanica .pasos .paso{
  width: 362px;
  padding: 10px 20px 40px 130px;
}

.blockMecanica .pasos .paso h4 {
  display: block;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
}

.blockMecanica .pasos .paso p{
  padding: 10px 0;
  display: block;
  font-family: "BrandonGrotesqueRegular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.blockMecanica .pasos .paso1{
  background: url(images/mecanica/paso1.png) no-repeat;
}

.blockMecanica .pasos .paso2{
  background: url(images/mecanica/paso2.png) no-repeat;
}

.blockMecanica .pasos .paso3{
  background: url(images/mecanica/paso3.png) no-repeat;
}

.blockMecanica .pasos .paso4{
  background: url(images/mecanica/paso4.png) no-repeat;
}

.blockMecanica .mencion {
  display: block;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  padding: 0 10px;
}

h3.tituloBloque{
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.tituloRojo {
  color: #d51f27;
}
.tituloAmarillo {
  color: #ffd917;
}

/*********************************************************************
*** BLOCK: PREMIOS ***************************************************
*********************************************************************/
.blockPremios{
  display: block;
  background: #d91f27 url(images/bg_puntos2.png) center 0;
}

.blockPremios .wrap{
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 70px;
  width: 840px;
}

.imagen__premios__pr {
  display: block;
  margin: 0 auto;
  width: 700px;
}

.imagen__premios__pr.imagen__mobile {
  display: none;
  width: auto;

}

.blockPremios .wrap .premios, .blockPremios .wrap .premiosInstantaneos {
  padding: 0;
  margin: 0;
  display: block;
  /* list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around; */
}

.blockPremios .wrap .premiosInstantaneos {
  justify-content: center;
}

.blockPremios .wrap h4{
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 30px 0;
  color: #ffd917;
}

.blockPremios .wrap .premios .item, .blockPremios .wrap .premiosInstantaneos .item  {
  background: tomato;
  padding: 210px 10px 10px 10px;
  width: 250px;
  height: 100px;
  margin-top: 10px;
  text-align: center;
  font-family: "EamesCenturyModernBook", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.blockPremios .wrap .premiosInstantaneos .item  {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  width: 200px;
  padding: 165px 10px 10px 10px;
}

.blockPremios .wrap .premios .item span, .blockPremios .wrap .premiosInstantaneos .item span{
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  color: #f1ca2a;
}


.blockPremios .wrap .premios .premio1{
  background: url(images/premios/premio1.png) no-repeat center top;
}

.blockPremios .wrap .premios .premio2{
  background: url(images/premios/premio2.png) no-repeat center top;
}

.blockPremios .wrap .premios .premio3{
  background: url(images/premios/premio3.png) no-repeat center top;
}

.blockPremios .wrap .premios .premio4{
  background: url(images/premios/premio4.png) no-repeat center top;
}

.blockPremios .wrap .premios .premio5{
  background: url(images/premios/premio5.png) no-repeat center top;
}

.blockPremios .wrap .premios .premio6{
  background: url(images/premios/premio6.png) no-repeat center top;
}

.blockPremios .wrap .premios .premio7{
  background: url(images/premios/premio7.png) no-repeat center top;
}

.blockPremios .wrap .premios .premio8{
  background: url(images/premios/premio8.png) no-repeat center top;
}

.blockPremios .wrap .premios .premio9{
  background: url(images/premios/premio9.png) no-repeat center top;
}

.blockPremios .wrap .premiosInstantaneos .premio10{
  background: url(images/premios/premio10.png) no-repeat center top;
}

.blockPremios .wrap .premiosInstantaneos .premio11{
  background: url(images/premios/premio11.png) no-repeat center top;
}

.blockPremios .wrap .premiosInstantaneos .premio12{
  background: url(images/premios/premio12.png) no-repeat center top;
}


/*********************************************************************
*** BLOCK: EMPAQUES **************************************************
*********************************************************************/
.blockEmpaques{
  /* background-color: #f1ca2a; */
  display: block;
  background: #f1ca2a url(images/bg_puntos2.png);
}

.blockEmpaques .wrap{
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1120px;
}

.blockEmpaques .wrap .empaques{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.blockEmpaques .wrap .empaques .item{
  padding: 0px 10px 10px 10px;
  width: 260px;
  height: auto;
  margin-top: 10px;
  text-align: center;
  font-family: "EamesCenturyModernBook", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.blockEmpaques .wrap .empaques .item .imagen{
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto 40px auto;
}

.blockEmpaques .wrap .empaques .item .empaque1{
  background: url(images/empaques/empaque1_pr.png) no-repeat center top;
}

.blockEmpaques .wrap .empaques .item .empaque2{
  background: url(images/empaques/empaque2_pr.png) no-repeat center top;
}

.blockEmpaques .wrap .empaques .item .empaque3{
  background: url(images/empaques/empaque3_pr.png) no-repeat center top;
}

.blockEmpaques .wrap .empaques .item .empaque4{
  background: url(images/empaques/empaque4_pr.png) no-repeat center top;
}

.blockEmpaques .wrap .empaques .item .detalle .puntos{
  color: #d51f27;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-weight: bold;
}



/*********************************************************************
*** BLOCK: PARTICIPA ***************************************************
*********************************************************************/
.blockParticipa{
  display: block;
}

.blockParticipa .wrap{
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
  width: 840px;
  position: relative;
}

.modPuntos {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.modPuntos .numero{
  margin: 0 3px;
  background: #FFFFFF;
  border-radius: 3px;
  width: 30px;
  color: #58595b;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding: 10px 3px;
  text-align: center;
  vertical-align: middle;
}

.blockParticipa .wrap .label-acumulados {
  display: block;
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 10px 0;
}

.blockParticipa .wrap .slot-machine{
  display: block;
  background: url(images/participa/slot_machine_pr.png) no-repeat;
  background-size: cover;
  width: 450px;
  height: 200px;
  margin:  20px auto;
  position: relative;
}
.blockParticipa .wrap .slot-machine .btnPalanca {
  display: block;
  height: 50%;
  /* background: tomato; */
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}


.blockParticipa .wrap .slot-machine .slot-wrapper {
	 width: 400px;
   height: 80px;
   display: block;
   position: absolute;
   left: 0;
   right: 30px;
   top: 0;
   bottom: 0;
   margin: auto;
}

.blockParticipa .wrap .slot-machine  .slot {
	background:url("images/reel_normal.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
	width:95px;
	height:80px;
	float:left;
	background-position:0 0px;
}
.blockParticipa .wrap .slot-machine  .motion {
	background:url("images/reel_blur.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
}

.blockParticipa .wrap .ganaste {
  display: block;
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 10px 0;
}

.blockParticipa .wrap .btnGirar {
    background-color: #f0c92a;
    display: block;
    font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #d51f27;
    padding: 10px 20px;
    border: 0;
    margin: 50px auto 0 auto;
    cursor: pointer;
}

.blockParticipa .sliderPremios {
  display: block;
  width: 340px;
  margin: 30px auto;
  position: relative;
}

.blockParticipa .flechaDer, .modHomePremios .flechaDer  {
  display: block;
  width: 25px;
  height: 50px;
  background: url(images/flechaDer.png) no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 70px;
  cursor: pointer;
}

.blockParticipa .flechaIzq, .modHomePremios .flechaIzq {
  display: block;
  width: 25px;
  height: 50px;
  background: url(images/flechaIzq.png) no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 70px;
  cursor: pointer;
}

.blockParticipa .sliderPremios .item{
  display: block;
}

.blockParticipa .sliderPremios .item img{
  display: block;
  margin: 0 auto;
}

.blockParticipa .sliderPremios .item h4 {
  text-align: center;
  color: #FFFFFF;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 30px;
}

.blockParticipa .sliderPremios .item .crono{
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 30px;
  width: 105px;
  padding-left: 40px;
  margin: 15px auto;
  background: url(images/participa/crono.png) no-repeat 0 0;
}

.blockParticipa .sliderPremios .item p{
  display: block;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f1ca2a;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

.blockParticipa .sliderPremios .item p span{
  font-size: 24px;
}

.blockParticipa .sliderPremios .item p.recuerda{
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-transform: none;
}

.blockParticipa a.boton{
  background-color: #FFFFFF;
  display: block;
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #d51f27;
  padding: 10px 20px;
  border: 0;
  margin: 50px auto 0 auto;
  cursor: pointer;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*********************************************************************
*** BLOCK: GANADORES **************************************************
*********************************************************************/
.blockGanadores{
  /* background-color: #f1ca2a; */
  background: #f1ca2a url(images/bg_puntos2.png);
  display: block;
}

.blockGanadores .wrap{
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
  width: 840px;
}
.blockGanadores .wrap h3{
  font-family: "EamesCenturyModernBold", Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: #d51f27;
}

.blockGanadores .wrap .noganadores{
  height: 300px;
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 30px 10px;
  color: #d51f27;
}

.tituloRojo {
  color: #d51f27;
}

/* - HEAD - */
.blockGanadores .wrap .row{
  background: #fff;
  display: block;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 8px 0px;
}

.blockGanadores .wrap .row.header{
  background: none;
  border-bottom: 3px solid #d51f27;
  margin-bottom: 20px;
}

.blockGanadores .wrap .row.header .col,
.blockGanadores .wrap .row.header .col.four{
  font-size: 18px;
  color: #e31d1a;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
}

.blockGanadores .wrap .row.header .col.one,
.blockGanadores .wrap .row.header .col.two,
.blockGanadores .wrap .row.header .col.three{
  background: none;
}

.blockGanadores .wrap .row.special{
  background: #d51f27;
}

.blockGanadores .wrap .row.special .col{
  color: #fff;
}

.blockGanadores .wrap .row .col{
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #58595b;
  display: block;
  float: left;
  text-align: left;
  padding: 0 10px;
  text-transform: uppercase;
}

.blockGanadores .wrap .row .col.one{
  background: transparent url(images/ganadores/line.jpg) no-repeat 100% 50%;
  width: 60%;
}

.blockGanadores .wrap .row .col.two{
  /* background: transparent url(images/ganadores/line.jpg) no-repeat 100% 50%; */
  width: 25%;
}


/* - PAGINATOR - */
.blockGanadores .wrap .paginator,
.pageEmpaques .paginator{
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  overflow: hidden;
  width: 218px;
}

.blockGanadores .wrap .paginator span,
.pageEmpaques .paginator span{
  background: #fff;
  font-family: "MontserratRegular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666666;
  cursor: pointer;
  line-height: 38px;
  display: block;
  border-radius: 5px;
  margin: 0 8px;
  float: left;
  text-align: center;
  width: 38px;
}

.blockGanadores .wrap .paginator span.active,
.pageEmpaques .paginator span.active{
  background: #d51f27;
  font-family: "MontserratSemibold", Arial, Helvetica, sans-serif;
  color: #fff;
}

/*********************************************************************
*** MODAL: REGISTRATE ************************************************
*********************************************************************/
.md-content h3{
  font-family: "EamesCenturyModernBold", Arial Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #d21f27;
}

.formModal{
  display: block;
  padding: 20px 40px !important;
}

.formModal .itCampo{
  background: #ffffff;
  font-family: "BrandonGrotesqueBold", Arial Helvetica, sans-serif;
  font-size: 16px;
  color: #9fa1a4;
  display: block;
  border: 1px #e3e8ee solid;
  margin-bottom: 10px;
  padding: 2%;
  outline: none;
  width: 93.6%;
}

.formModal .itCampo.select{
  background: #e3e8ee;
  /* background: #e3e8ee url(images/arrow_select.png) no-repeat 100% 50%; */
  cursor: pointer;
  padding-right: 30px;
  width: auto;
}

.formModal .btnEnviar{
  background: #d21f27;
  font-family: "EamesCenturyModernBold", Arial Helvetica, sans-serif;
  font-size: 22px;
  color: #ffffff;
  line-height: 50px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 400px;
  margin: 0px auto 0 auto;
}

.formModal .btnEnviar.white{
  color: #fff;
}

.formModal .lblConsulta{
  font-family: "BrandonGrotesqueBold", Arial Helvetica, sans-serif;
  font-size: 15px;
  color: #e31d1a;
  line-height: 40px;
  display: block;
  text-align: center;
  text-decoration: underline;
  outline: none;
}

.formModal .lblConsulta:hover{
  text-decoration: none;
}

.md-modal .md-close{
  background: transparent url(images/btn_close2.png) no-repeat 50% 50%;
  display: block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.formModal .lblIniciar{
  font-family: "MontserratRegular", Arial Helvetica, sans-serif;
  font-size: 14px;
  color: #414042;
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.formModal .lblIniciar a{
  color: #414042;
  text-decoration: underline;
  outline: none;
}

.formModal .lblIniciar a:hover{
  text-decoration: none;
}

.formModal .separator{
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #d21f27;
  font-family: "BrandonGrotesqueBold", Arial Helvetica, sans-serif;
  font-size: 22px;
}

.formModal .btnRegistro{
  background: #d21f27;
  font-family: "EamesCenturyModernBold", Arial Helvetica, sans-serif;
  font-size: 22px;
  color: #ffffff;
  line-height: 50px;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  outline: none;
  width: 400px;
  margin: 0 auto;
}

.formModal .birth{
  display: block;
}

.formModal .birth h4{
  font-family: "MontserratSemibold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #414042;
  display: block;
  padding-bottom: 10px;
}

.formModal .birth .itCampo.sm{
  float: left;
  width: 25.333%;
}

.formModal .birth .itCampo.select.sm{
  padding: 3%;
}

.formModal .birth .itCampo.select.sm.mg{
  margin-right: 1.5%;
}

/* - OPTIONS - */
.txtOptions{
  display: block;
  padding: 10px 0px;
  width: 420px;
  margin: 0 auto;
}

.txtOptions label{
  font-family: "BrandonGrotesqueRegular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #d21f27;
  display: block;
  overflow: hidden;
}

.txtOptions input{
  display: block;
  float: left;
  margin: 5px;
}

.txtOptions span{
  display: block;
  float: left;
  padding: 5px 0px;
}

.txtOptions span a{
  color: #414042;
  text-decoration: underline;
}

/* - ERROR - */
.formModal .lblError{
  font-family: "BrandonGrotesqueLight", Arial Helvetica, sans-serif;
  font-size: 16px;
  color: #e31d1a;
  display: block;
  padding-bottom: 10px;
  text-align: center;
}

.formModal .itCampo.error{
  background: #fce8e8;
  border: 1px #e31d1a solid;
}

.formModal .itCampo.select.error{
  background: #fce8e8;
  /* background: #fce8e8 url(images/arrow_select.png) no-repeat 100% 50%; */
}

.contenido-terminos {
  height: 400px;
  overflow-y: scroll;
  font-family: "BrandonGrotesqueLight", Arial Helvetica, sans-serif;
  font-size: 11px;
  line-height: 20px;
  color: #a6a6a6;
  padding: 20px;
}

.contenido-terminos p {
  margin: 10px 0 !important;
}

.contenido-terminos p strong u{
  line-height: 25px;
  margin: 20px 0;
  text-align: center;
  display: block;
}

.contenido-terminos table  {
  margin: 20px 0;
}

.contenido-terminos table td {
  padding: 10px;
}

.contenido-terminos table, .contenido-terminos table td{
  border: 1px solid #a6a6a6;
}

/* VER SUBASTA */
#modal-subasta .row{
  background: #fff;
  display: block;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 8px 0px;
}

#modal-subasta .row.header{
  background: none;
  border-bottom: 3px solid #d51f27;
  margin-bottom: 20px;
}

#modal-subasta .row.header .col{
  font-size: 18px;
  color: #e31d1a;
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
}

#modal-subasta .row.header .col.one{
  background: none;
}

#modal-subasta .row.special{
  background: #d51f27;
}

#modal-subasta .row.special .col{
  color: #fff;
}

#modal-subasta .row .col{
  font-family: "BrandonGrotesqueLight", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #58595b;
  display: block;
  float: left;
  text-align: left;
  padding: 0 10px;
  text-transform: uppercase;
}

#modal-subasta .row .col.one{
  background: transparent url(images/ganadores/line.jpg) no-repeat 100% 50%;
  width: 60%;
}

#modal-subasta .col.two{
  /* background: transparent url(images/ganadores/line.jpg) no-repeat 100% 50%; */
  width: 25%;
}

#modal-premio .premio h3 {
  color: #ffd617;
  text-transform: uppercase;
  font-family: "EamesCenturyModernBold";
  font-size: 40px;
  text-align: center;
}

#modal-premio .premio img {
  display: block;
  margin: 20px auto;
}

#modal-premio .premio .nombre {
  color: #ffd617;
  font-family: "EamesCenturyModernBold";
  font-size: 30px;
  text-align: center;
}

#modal-premio .btnAceptarPremio {
  font-family: "EamesCenturyModernBold";
  font-size: 20px !important;
  color: #d41f27;
  background: #eec72a;
  border: 0;
  padding: 8px 20px;
  display: block;
  text-transform: uppercase;
  margin-top: 30px !important;
  cursor: pointer !important;
}

/*********************************************************************
*** FOOTER ***********************************************************
*********************************************************************/
.footer{
/*  background: purple;*/
  display: block;
  margin: 0 auto;
  width: 1050px;
  padding: 50px 0;
}

.footer .logoRitz{
  background: transparent url(images/ritz_la_vida_es_rica.png) no-repeat 0% 0%;
  display: block;
  height: 90px;
  width: 300px;
  margin: 20px auto 40px auto;
  cursor: pointer;
}

.footer .footRedes{
  display: block;
  float: right;
  padding-top: 25px;
}

.footer .footRedes .btnFacebook{
  background: transparent url(images/ico_facebook.png) no-repeat 0% 0%;
  background-size: 40px 40px;
  font-size: 1px;
  color: #fff;
  display: block;
  float: left;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
  text-indent: -9999px;
}

.footer .footRedes .btnYoutube{
  background: transparent url(images/ico_youtube.png) no-repeat 0% 0%;
  background-size: 40px 40px;
  font-size: 1px;
  color: #fff;
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  text-decoration: none;
  text-indent: -9999px;
}

/* .modVideo .videoMenu{
  width: 700px;
  display: flex;
  margin: auto;
  bottom: 20px;
  left: 0;
  right: 0;
  position: absolute;
} */

.footer .menubottom{
  display: block;
  margin: auto;
  padding-top: 30px;
  width: 86%;
  float: left;
}

.footer .menubottom ul{
  display: block;
  overflow: hidden;

}

.footer .menubottom ul li{
  display: inline-block;
  width: 32.3%;
}

.footer .menubottom ul li a{
  font-family: "BrandonGrotesqueBold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #ffffff;
  display: block;
  float: left;
  /* padding: 4px 34px; */
  text-decoration: none;
}

.footer .menubottom ul li:first-child a{
  border-left: 0;
}

.footer .menubottom ul li a:hover{
  text-decoration: underline;
}

.boxVideoGeneral__cerrar {
    font-size: 20px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
    color: #fff;
    border: 2px solid #b86d1c;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: all ease .25s;
    -moz-transition: all ease .25s;
    -o-transition: all ease .25s;
    -ms-transition: all ease .25s;
    transition: all ease .25s
}

.boxVideoGeneral__cerrar:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

.botonGeneral:before,
.boxVideoGeneral,
.boxVideoGeneral__video {
    height: 100%;
    width: 100%
}

.boxVideoGeneral {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: none
}


/*********************************************************************
*** CLEAR FIX ********************************************************
*********************************************************************/
.clear{
  clear: both;
}

/*********************************************************************
*** VERSIÓN: TABLET / MOVIL (MEDIA-QUERIES) **************************
*********************************************************************/
@media (width: 1366px) and (max-height: 668px){

}

@media (max-width: 1600px){

}

@media (max-width: 1366px){

}

@media (max-width: 1200px){

  .modNuevoHome .wrap {
    width: 100%;
  }

  .modNuevoHome .premios {
    width: 750px;
  }



  .blockMecanicaTest .wrap {
    width: 100%;
  }

  .wrpHead{
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
  }

  .wrpHead .header{
    width: auto;
  }

  .wrpHead .header h1{
    float: none;
    padding-right: 0;
  }

  .modUser {
    width: 150px;
  }

  .blockMecanica .wrap {
    width: 980px;
  }

  .blockMecanica .pasos .paso {
    width: 350px;
    padding: 10px 20px 40px 120px;
  }

  h3.tituloBloque {
    font-size: 50px;
  }

  .blockGanadores .wrap h3 {
    font-size: 50px;
  }

  .formModal .btnEnviar, .formModal .btnRegistro, .txtOptions {
    width: 100%;
  }

  .txtOptions label {
    display: flex;
  }

  .txtOptions input {
    margin-right: 15px;
  }

  .footer{
    width: 90%;
  }

}

@media (max-width: 1199px) {
  .blockMecanicaTest .wrap .pasos {
    justify-content: center;
  }

  .blockMecanicaTest .wrap .pasos .tab {
    margin: 0px 50px 30px 50px;
  }

  .blockMecanicaTest .wrap .pasos .paso1 {
    padding-right: 20px;
  }

  .blockMecanicaTest .wrap .pasos .paso3 {
    border-left: none;
    padding-left: 0;
  }
}

@media (max-width: 1120px) {
  .modNuevoHome .premios {
    width: 650px;
  }
}

@media (max-width: 1100px) {
  .modNuevoHome .premios {
    width: 650px;
  }

  .blockMecanicaTest .wrap .pasos .paso1 {
    padding-right: 80px;
  }
}


@media (max-width: 1023px){

  .blockMecanicaTest .wrap .pasos .paso1 {
    padding-right: 0px;
    border-right: none;
  }

  .modNuevoHome {
    height: auto;
  }

  .modNuevoHome .wrap {
    padding-bottom: 40px;
  }
  .modNuevoHome h3 {
    font-size: 25px;
  }

  .modNuevoHome .premios {
    margin: 0 auto;
  }

  .modNuevoHome .box {
    /* position: relative;
    top: auto;
    transform: none;
    margin: 20px auto;
    right: auto; */
    bottom: 20px;
  }

  .modNuevoHome .barra {
    display: none;
  }

  .btnMenu{
    display: block;
  }

  .menu, .modUser, .boxUser{
    display: none;
  }

  .wrpHead .header{
    height: 110px;
  }

  .wrpHead .header h1 {
    padding-left: 0px;
  }

  .wrpHead .header h1 a{
    position: relative;
    margin:0 auto;
  }

  .modVideo .videoMenu {
    display: none;
  }

  .modVideo a.facebook, .modVideo a.youtube {
    display: none;
  }

  .blockMecanica .wrap, .blockPremios .wrap, .blockEmpaques .wrap, .blockParticipa .wrap, .blockParticipa .wrap, .blockGanadores .wrap{
    padding-top: 80px;
  }

  .blockMecanica .wrap {
    width: 540px;
  }

  .blockMecanica .pasos .paso1{
    margin-bottom: 40px;
  }

  .blockMecanica .pasos .paso {
    width: 400px;
  }

  h3.tituloBloque {
    font-size: 40px;
  }

  .blockGanadores .wrap h3 {
    font-size: 40px;
  }

  .blockEmpaques .wrap {
    width: 600px;
  }

  .blockEmpaques .wrap .empaques .item .imagen {
    margin-bottom: 20px;
  }

}

@media (max-width: 860px){

  .imagen__premios__pr {
    display: none;
  }

  .imagen__premios__pr.imagen__mobile {
    display: block;
  }

  .blockMecanicaTest .wrap .pasos .tab {
    border-bottom: 3px solid #d51f27;
    padding-bottom: 40px;
  }

  .blockMecanicaTest .wrap .pasos .tab:last-child {
    border-bottom: none;
  }

  .modNuevoHome .premios {
    width: 95%;
  }

  .modHomePremios {
    padding: 30px 0;
  }

  .modNuevoHome .wrap {
    padding-bottom: 20px;
  }

  .blockMecanica,.blockEmpaques {
    /* background-color: #d91f27; */
  }

  .blockEmpaques .tituloBloque {
      color: #d51f27 !important;
  }

  .tituloRojo {
    color: #ffd917;
  }

  .blockMecanica .wrap, .blockPremios .wrap, .blockParticipa .wrap, .blockParticipa .wrap, .blockGanadores .wrap{
    width: 90%;
  }

  .blockMecanica .pasos{
    width: 540px;
    margin: 0 auto;
  }

  .blockMecanica .pasos .paso1 {
    background: url(images/mecanica/paso1m.png) no-repeat;
  }

  .blockMecanica .pasos .paso2 {
    background: url(images/mecanica/paso2m.png) no-repeat;
  }

  .blockMecanica .pasos .paso3 {
    background: url(images/mecanica/paso3m.png) no-repeat;
  }

  .blockMecanica .pasos .paso4 {
    background: url(images/mecanica/paso4m.png) no-repeat;
  }

  .blockPremios .wrap .premiosInstantaneos .item {
    width: 150px;
  }

  .blockEmpaques .wrap .empaques .item .empaque1{
    background-size: contain;
    /* background: url(images/empaques/empaque1m.png) no-repeat center top; */
  }

  .blockEmpaques .wrap .empaques .item .empaque2{
    background-size: contain;
    /* background: url(images/empaques/empaque2m.png) no-repeat center top; */
  }

  .blockEmpaques .wrap .empaques .item .empaque3{
    background-size: contain;
    /* background: url(images/empaques/empaque3m.png) no-repeat center top; */
  }

  .blockEmpaques .wrap .empaques .item .empaque4{
    background-size: contain;
    /* background: url(images/empaques/empaque4m.png) no-repeat center top; */
  }

  .blockEmpaques .wrap .empaques .item .imagen {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  .blockEmpaques .wrap .empaques .item .detalle .puntos {
    /* color: #ffd917; */
  }

  .formModal{
    padding: 20px !important;
  }

  .formModal .btnEnviar, .formModal .btnRegistro {
    font-size: 16px;
    line-height: 30px;
  }

  .formModal .separator {
    font-size: 16px;
  }

  .footer {
    position: relative;
  }
  .footer .menubottom {
    width: 100%;
    float: none;
  }

  .footer .menubottom ul li {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
  }
  .footer .menubottom ul li a {
    display: block;
    line-height: 40px;
    width: 100%;
  }

  .footer .footRedes {
      float: none;
      margin: 0 auto;
      display: block;
      height: 40px;
      width: 100px;
  }

  .footer .logoRitz {
    background-size: cover;
    width: 250px;
    height: 75px;
    margin: 20px auto;
  }


}

@media (max-width: 768px){
  .container_prize_sale .item {
    width: 100%;
  }

  .container_prize_sale .prize_sale {
    border: none;
  }

}

@media (max-width: 767px){
  .modNuevoHome .premios {
    display: none;
  }
  .modNuevoHome .premios.image__mobile {
    width: auto;
    display: block;
  }

  .modNuevoHome .box {
    position: relative;
    display: block;
    bottom: auto;
    left: auto;
    transform: none;
    margin: 20px auto;
  }
}

@media (max-width: 620px){
  .modHomePremios {
    width: 100%;
  }
  .modHomePremios h3 {
    font-size: 25px;
    width: 90%;;
  }
  .blockMecanica .pasos {
    width: 100%;
  }

  .blockMecanica .pasos .paso {
    width: 72%;
    padding: 10px 5% 20px 23%
  }

  .blockMecanica .mencion {
    margin-top: 20px;
  }

  .blockPremios .wrap .premios .item {
    width: 150px;
    background-size: 150px 150px;
    padding: 160px 10px 10px 10px;
    height: 70px;
  }

  .blockEmpaques .wrap {
    width: 90%;
  }

}

@media (max-width: 520px){

  .blockParticipa .flechaDer, .modHomePremios .flechaDer {
    right: 20px;
  }

  .blockParticipa .flechaIzq, .modHomePremios .flechaIzq {
    left: 20px;
  }

  .blockMecanica .pasos .paso h4 {
    font-size: 20px;
  }

  .blockMecanica .pasos .paso {
    width: 68%;
    padding: 10px 5% 20px 27%
  }

  .blockEmpaques .wrap .empaques .item {
    width: 360px;
  }
  .blockEmpaques .wrap .empaques .item .imagen {
    float: left;
  }
  .blockEmpaques .wrap .empaques .item .detalle{
    float: left;
    padding:30px 10px;
    width: 180px;
  }

  h3.tituloBloque {
    font-size: 30px;
  }

  .blockGanadores .wrap h3 {
    font-size: 30px;
  }

  .blockParticipa .wrap .slot-machine .slot-wrapper {
    width: 360px;
  }

  .blockParticipa .wrap .slot-machine {
    width: 380px;
    height: 169px;
  }

  .blockParticipa .wrap .slot-machine .slot {
    width: 80px;
  }

  .blockParticipa .wrap {
    overflow: hidden;
    width: 95%;
  }
}

@media (max-width: 414px){
  .blockMecanica .pasos .paso h4 {
    font-size: 18px;
  }

  .blockMecanicaTest .wrap .pasos .tab img {
    width: 90%;
  }

  .blockMecanica .pasos .paso {
    width: 65%;
    padding: 10px 5% 20px 30%
  }

  .blockPremios .wrap .premios .item {
    width: 140px;
    background-size: 140px 140px;
  }

  .blockPremios .wrap .premiosInstantaneos .item {
    width: 140px;
    background-size: 140px 140px;
  }

  .blockEmpaques .wrap .empaques {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .blockEmpaques .wrap .empaques .item {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0;
  }

  .blockEmpaques .wrap .empaques .item .detalle{
    padding:30px 0px;
    width: 150px;
  }

  .blockGanadores .wrap .row .col, .blockGanadores .wrap .row.header .col{
    font-size: 12px;
  }

}

@media (max-width: 380px){
  .blockMecanica .pasos .paso h4 {
    font-size: 18px;
  }

  .blockMecanica .pasos .paso {
    width: 60%;
    padding: 10px 0% 20px 35%
  }

  .modPuntos .numero {
    font-size: 30px;
    width: 20px;
  }

  .imagen__premios__pr.imagen__mobile {
    width: 95%;
  }
}

@media (max-width: 360px){

  .modNuevoHome .premios.image__mobile {
    width: 95%;
    display: block;
  }

  .blockEmpaques .wrap .empaques .item .imagen {
    width: 140px;
    background-size: 140px 140px;
  }
  .blockEmpaques .wrap .empaques .item .detalle{
    padding:30px 0px;
    width: 140px;
  }

  .blockGanadores .wrap .row .col.one {
    width: 62%;
  }

  .blockGanadores .wrap .row .col.two {
    width: 23%;
  }

  /* .blockParticipa .wrap .slot-machine {
    width: 280px;
    height: 155px;
  } */
}

@media (max-width: 320px){



}
