{% extends "frontend/layout/base.twig" %}

{% block content %}

<div id="home" style="display: none">
    <div class="content-image-home">
        <div class="extra-home">
            <img src="/assets/images/pensa-2x.png" class="pensa" height="110"/>
            <img src="/assets/images/logo-home.png" class="logo-home"/>
        </div>
        <el-row class="image-home">
            <div class="container-logo-home">
                <img src="/assets/images/logo-home.png" class="logo-home" width="100%"/>
                <button @click="GoPageMemes">PARTICIPA</button>
            </div>
            <img class="footer-image" src="/assets/images/bottom-background-home.png" width="100%"/>
        </el-row>
        <div class="extra-home bottom">
        </div>
        {# <div class="carousel-awards"></div> #}
    </div>
    <div class="button-participate" @click="GoPageMemes">PARTICIPA</div>

    <el-row class="mechanics full-height" id="mechanic">
        {# <div class="square">
            <img class="left" src="/assets/images/left-background.jpg">
            <div class="middle">
            </div>
            <img class="right" src="/assets/images/right-background.jpg">
        </div> #}
        <div class="section-content">
            <p class="section-title">
                <img src="/assets/images/mecanica.png">
            </p>
            <div class="mechanics-info el-row">
                <img src="/assets/images/sol.png">
                <el-col :span="8" class="mechanics-line">
                    <div class="first-row">
                        <img src="/assets/images/one.png">
                        <div class="mechanics-text">Ingresa tus datos y el <strong>Nº de Lote de Ritz</strong></div>
                    </div>
                    <div class="second-row">
                        <img class="image1" src="/assets/images/one_image.png">
                    </div>
                </el-col>
                <el-col :span="8" class="mechanics-line">
                    <div class="first-row">
                        <img src="/assets/images/two.png">
                        <div class="mechanics-text">Busca o crea tu meme, etiqueta a tus amigos <strong>y comparte</strong></div>
                    </div>
                    <div class="second-row">
                        <img src="/assets/images/two_image.png">
                    </div>
                </el-col>
                <el-col :span="8" class="mechanics-line">
                    <div class="first-row">
                        <img src="/assets/images/three.png">
                        <div class="mechanics-text">¡Uy sí uy sí! aumenta tus posibilidades de ganar ingresando más <strong>Nº de lotes de Ritz</strong></div>
                    </div>
                    <div class="second-row">
                        <img class="image3" src="/assets/images/three_image.png">
                    </div>
                </el-col>
            </div>
        </div>
    </el-row>

</div>
{% endblock %}

{% block extra_js %}
<script src="assets/js/html2canvas.min.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
{% endblock %}