{% extends "frontend/layout/base.twig" %}

{% block content %}


<div id="meme-list" style="display: none">
      <el-row id="meme-content" class="full-height meme">
        {# <div class="square">
            <img class="left" src="/assets/images/left-background.jpg">
            <div class="middle">
            </div>
            <img class="right" src="/assets/images/right-background.jpg">
        </div> #}

        <div class="section-content">
          <el-row style="display:flex;">
            <el-col :span="12" class="categories">
              <div @click="type = 'Amigos'" :class="{'selected': type == 'Amigos'}">
                AMIGOS
                <img src="/assets/images/hands.png" v-if="type == 'Amigos'">
              </div>
              <div @click="type = 'Animales'" :class="{'selected': type == 'Animales'}">
                ANIMALES
                <img src="/assets/images/hands.png" v-if="type == 'Animales'">
              </div>
            </el-col>
            <el-col :span="12" class="meme-title">
              <p><img src="/assets/images/meme-list.png"></p>
            </el-col>
          </el-row>
          <el-row class="memes">
            <el-col :span="12" class="block-list">
              <el-row v-for="pair in _.chunk(memesFiltered, 2)" class="list">
                <div class="meme" v-for="meme in pair">
                  <div class="border-image">
                    <div class="image" :style="{'background': 'url(' + meme.photo + ') center center no-repeat / contain'}">
                    </div>
                  </div>
                  <p @click="share(meme.id)">COMPARTIR</p>
                </div>
              </el-row>

              
              
            </el-col>
            <el-col :span="12" class="create">
              <a href="/meme-generator">
                <div class="div-button">
                  <img src="/assets/images/arrow-points.png"/>
                  <p class="text">CREA TU MEME</p>
                  <p class="second-text">AQUÍ</p>
                </div>
              </a>
            </el-col>
          </el-row>
          <el-row class="block-buttons">
             <el-col :span="12" class="block one">
              <el-button class="one">Comparte y acumula 1 opción</el-button>
             </el-col>
             <el-col :span="12" class="block">
              <a href="/meme-generator">
                <el-button class="two">Crea tu meme, comparte y acumula 2 opciones</el-button>
              </a>
             </el-col>
          </el-row>
          {# <img src="/assets/images/pensa-2x.png" class="pensa"/> #}
        </div>
      </el-row>
    <el-dialog
    title=""
    :visible.sync="dialogVisibleShare"
    width="400px"
    class="dialog-login share"
    @close="removeLote">
      <el-row class="body">
        <div class="image" :style="{'background': 'url(' + memeSelected + ') center center no-repeat / contain'}"></div>
        <p class="title">INGRESA TU N° DE LOTE</p>
        <el-input v-model="lote" placeholder="N° de Lote"></el-input>
        <p><span>Dice mi mamá </span>que selecciones una red</p>
        <div class="social">
          <span @click="selectNetwork(1)"><i v-if="selectedNetwork == 1" class="fas fa-check-circle"></i><img src="/assets/images/fb-2x.png"></span>
          <span @click="selectNetwork(3)"><i v-if="selectedNetwork == 3" class="fas fa-check-circle"></i><img src="/assets/images/wp-2x.png" height="32"></span>
        </div>
        <p class="share-text"> y compartas</p>
        <el-button @click="shareMeme" class="button-login" :disabled="lote.length == 0">COMPARTIR</el-button>
        <img src="/assets/images/curve-2x.png" class="curve">
        <img src="/assets/images/card-flotate.png" class="card-flotate">
      </el-row>
    </el-dialog>
    <el-dialog
    title="GRACIAS POR PARTICIPAR"
    :visible.sync="dialogVisibleShareSuccess"
    width="450px"
    class="dialog-login">
      <el-row class="body">
        <div class="content-button">
          <el-button class="button-login"><img src="/assets/images/line-left.png"><span>ACUMULASTE 1 OPCIÓN</span><img src="/assets/images/line-right.png"></el-button>
        </div>
        <p class="share-text">¡RECUERDA!</p>
        <div class="div-ritz">
          <p>Si guardas tus empaques de RITZ</p>
          <img src="/assets/images/pensa-2x.png">
          <p>podrás reclamar tu premio</p>
        </div>
      </el-row>
    </el-dialog>
</div>
{% endblock %}

{% block extra_js %}
<script src="assets/js/html2canvas.min.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
{% endblock %}
