{% extends "frontend/layout/base.twig" %}

{% block content %}

<script type="text/x-template" id="input-autofit">
    <div>
        <input readonly id="calculated" :style="{
            'width': width + 'px', 
            'font-size': calculatedFontSize + 'px',
            'font-family': fontFamily,
            'text-align': 'center',
            'border': 'none',
            'background': 'none',
            'color': fontColor
        }" ref="fitInput" :value="text">
        <span :style="{
            'font-size': fontSize + 'px',
            'font-family': fontFamily,
            'opacity': 0,
            'white-space': 'nowrap',
            'pointer-events': 'none',
            'position': 'absolute'
        }" ref="realInput">${text}</span>
    </div>
</script>


<div id="meme-generator" style="display:none;">


    <el-row id="meme-content" class="full-height">
      {# <div class="square">
          <img class="left" src="/assets/images/left-background.jpg">
          <div class="middle">
          </div>
          <img class="right" src="/assets/images/right-background.jpg">
      </div> #}

      <div class="section-content">
          <p class="section-title">
            <img src="/assets/images/meme-list.png">
            <el-button @click="goMemeList"><span>REGRESAR</span><img src="/assets/images/points.png"></el-button>
          </p>
          <hr></hr>
          <div id="meme-container">
            <img src="/assets/images/sol.png" class="sol">
            <div id="meme-image-container" :style="{
                  'width': previewMemeWidth + 'px',
                  'min-width': previewMemeWidth + 'px',
                  'height': previewMemeHeight + 'px',
                  'min-height': previewMemeHeight + 'px'
                }">
              <el-upload
                id="meme-image-upload"
                :on-change="handleChange"
                :on-remove="handleRemove"
                multiple>
                <div v-if="imageUrl" id="meme-image" :style="{
                  'width': previewMemeWidth + 'px',
                  'height': previewMemeHeight + 'px'
                }">
                  <img :src="imageUrl" :width="previewImageWidth" :height="previewImageHeight">
                </div>
                <div v-else>
                    <img src="/assets/images/cloud_icon.png" width="30%">
                    <div class="el-upload__text">Arrastra y suelta un archivo aquí <br> o</div>
                    <button class="yellow-btn">Elige el archivo</button>
                </div>
              </el-upload>
              <input-autofit 
                @input="handleTextTop" 
                id="meme-top-text" 
                :font-size="memeFontSize" 
                :width="previewMemeWidth"
                :font-family="fontFamily"
                :text="textTop"
                :font-color="colorBottom"
              ></input-autofit>
              <input-autofit 
                @input="handleTextBottom" 
                id="meme-bottom-text" 
                :font-size="memeFontSize" 
                :width="previewMemeWidth"
                :font-family="fontFamily"
                :text="textBottom"
                :font-color="colorBottom"
              ></input-autofit>
            </div>


            <div id="meme-tools">
              <div id="inputs">
                <div class="input-row">
                  <input v-model="textTop" placeholder="TEXTO ARRIBA">
                </div>
                <div class="input-row">
                  <input v-model="textBottom" placeholder="TEXTO ABAJO">
                </div>
                <div class="input-row">
                  <el-color-picker v-model="colorBottom">
                  </el-color-picker>
                  <span class="color">${colorBottom}</span>
                </div>
              </div>
              <div id="buttons">
                <button class="dotted-btn" @click="goMemeList">cancelar</button>
                <button class="yellow-btn" @click="generateMeme">generar meme</button>
              </div>
            </div>

        </div>
      </div>
    </el-row>

    <a id="shareLink" v-show="false" :href="shareUrl" target="_blank">share</a>
    <div id="meme-final">
      <div id="meme-image-for-screenshot" v-if="imageUrl">
        <img v-if="imageUrl" :src="imageUrl" :width="finalImageWidth" :height="finalImageHeight">
        <input id="top-text" :style="{
          'font-size': topFontSize + 'px',
          'width': finalImageWidth + 'px',
          'text-align': 'center',
          'font-family': fontFamily,
          'border': 'none',
          'background': 'none',
          'pointer-events': 'none',
          'color': colorBottom
        }" :value="textTop">
        <input id="bottom-text" :style="{
          'font-size': bottomFontSize + 'px',
          'width': finalImageWidth + 'px',
          'text-align': 'center',
          'font-family': fontFamily,
          'border': 'none',
          'background': 'none',
          'pointer-events': 'none',
          'color': colorBottom
        }" :value="textBottom">
      </div>
    </div>
    <el-dialog
    title=""
    :visible.sync="dialogVisibleShare"
    width="380px"
    class="dialog-login"
    @close="removeLote">
      <el-row class="body">
        <div v-show="processing" class="processing">
          <img width="30" src="/assets/images/loader.gif">
        </div>
        <div v-show="processing == false">
          <div id="share-image-container" class="image">

          </div>
          <p class="title">INGRESA TU N° DE LOTE</p>
          <el-input class="" v-model="loteNumber" @input="$v.loteNumber.$touch()" :class="{ 'error': $v.loteNumber.$error }" placeholder="N° de Lote"></el-input>
          <span class="error" v-if="$v.loteNumber.$error">El código debe ser de 2 letras y 10 números</span>
          <p><span>Dice mi mamá </span>que selecciones una red</p>
          <div class="social">

            <span @click="selectNetwork(1)"><i v-if="selectedNetwork == 1" class="fas fa-check-circle"></i><img src="/assets/images/fb-2x.png"></span>
            <span @click="selectNetwork(3)"><i v-if="selectedNetwork == 3" class="fas fa-check-circle"></i><img src="/assets/images/wp-2x.png" height="32"></span>
          </div>
          <p class="share-text"> y compartas</p>
          <el-button class="button-login" :style="{'opacity': (loteNumber.length == 0 || selectedNetwork == 0 || $v.loteNumber.$error) ? 0.5 : 1}" :disabled="(loteNumber.length == 0 || selectedNetwork == 0 || $v.loteNumber.$error)" @click="saveMeme">COMPARTIR</el-button>
          <img src="/assets/images/curve-2x.png" class="curve">
          <img src="/assets/images/card-flotate.png" class="card-flotate">
        </div>
      </el-row>
    </el-dialog>
</div>
{% endblock %}

{% block extra_js %}
<script>
  var siteUrl = "{{site_url}}";
</script>
<script src="assets/js/html2canvas.min.js"></script>
{% endblock %}
