{% extends "frontend/layout/base.twig" %}
{% block extrabase %}
<meta property="og:image" content="{{server}}{{meme}}">
<meta property="og:image:url" content="{{server}}{{meme}}">
<meta property="og:image:secure_url" content="{{server}}{{meme}}">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="600">
<meta property="og:url" content="{{server}}/meme/{{name}}">
<meta property="fb:app_id" content="738395533228573">
{% endblock %}

{% block content %}
<div id="meme-generator" class="meme-single">


    <div id="meme-content" class="full-height el-row">

    <div class="section-content">
        <div id="meme-container" class="meme-preview">
            <img src="{{meme}}">
        </div>
    </div>

    </div>

</div>
{% endblock %}
