{% extends "frontend/layout/base.twig" %}

{% block content %}
<div id="winners" class="winners">
    <el-row class="awards full-height" id="awards">
        {# <div class="square">
            <img class="left" src="/assets/images/left-background.jpg">
            <div class="middle">
            </div>
            <img class="right" src="/assets/images/right-background.jpg">
        </div> #}
        <div class="section-content el-row">
            {# <p class="section-title"></p> #}
            <el-col :span="24" class="carousel">
                <el-carousel indicator-position="outside" autolay="false" interval="100000">
                    <el-carousel-item>
                        <div class="content main">
                          <p class="section-title award"><img src="/assets/images/premio.png"></p>
                          <div class="block-flex">
                            <div class="item-block main">
                              <div class="div-image">
                                <img src="/assets/images/brazil.png" class="brazil"/>
                              </div>
                              <div class="right">
                                <div>
                                  <p class="title">2 PAQUETES A</p>
                                  <p class="title">RÍO DE JANEIRO - BRASIL<br><span>5 DÍAS / 4 NOCHES</span></p>
                                  <img src="/assets/images/items-world.png" width="80%" class="items-image">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </el-carousel-item>
                    <el-carousel-item>
                        <div class="content">
                          <p class="section-title award"><img src="/assets/images/premio-second.png"></p>
                          <div class="block-flex">
                            <div class="item-block">
                                <div class="div-image">
                                  <div class="phone">
                                    <span>12</span><img src="/assets/images/phone-2x.png"/>
                                  </div>
                                  <p>Huawei P20 Pro</p>
                                </div>
                                <div class="right second">
                                    <div>
                                        <p class="title">DESCRIPCIÓN:</p>
                                        <p class="item">Con su Triple Cámara Leica te permitirá sacar el lado artístico que tienes en todas tus fotografías.</p>
                                    </div>
                                </div>
                                <div class="extra-item">
                                    <div class="div-image">
                                        <div class="bycicle">
                                            <span>12</span><img src="/assets/images/bycicle-2x.png"/>
                                        </div>
                                        <p class="bici"><span>Bicis&nbsp;</span><img src="/assets/images/specialized-2x.png"></p>
                                    </div>
                                    <div class="right second bici">
                                        <div>
                                            <p class="title">DESCRIPCIÓN:</p>
                                            <p class="item">Bicicletas ROLL SPORT LOW ENTRY Specialized.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </el-carousel-item>
                    <el-carousel-item v-if="desktop">
                        <div class="content">
                          <p class="section-title award"><img src="/assets/images/premio-second.png"></p>
                          <div class="block-flex">
                            <div class="item-block">
                                <div class="div-image">
                                  <div class="bycicle">
                                    <span>12</span><img src="/assets/images/bycicle-2x.png"/>
                                  </div>
                                  <p class="bici"><span>Bicis&nbsp;</span><img src="/assets/images/specialized-2x.png"></p>
                                </div>
                                <div class="right second bici">
                                    <div>
                                        <p class="title">DESCRIPCIÓN:</p>
                                        <p class="item">Bicicletas ROLL SPORT LOW ENTRY Specialized.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </el-carousel-item>
                    <el-carousel-item>
                        <div class="content">
                          <p class="section-title award"><img src="/assets/images/premio-instant.png"></p>
                          <div class="block-flex">
                            <div class="item-block instantanius">
                                <div class="div-image">
                                  <div class="bycicle">
                                    <span>50</span><img src="/assets/images/spotify-2x.png"/>
                                  </div>
                                  <p>Membresías 1 año</p>
                                </div>
                                <div class="extra-item">
                                    <div class="div-image gift">
                                        <div class="bycicle">
                                            <span>150</span><img src="/assets/images/card-2x.png"/>
                                        </div>
                                        <p class="card-text">Gift Card de VISA s/ 100</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </el-carousel-item>
                    <el-carousel-item v-if="desktop">
                        <div class="content">
                          <p class="section-title award"><img src="/assets/images/premio-instant.png"></p>
                          <div class="block-flex">
                            <div class="item-block instantanius">
                                <div class="div-image">
                                  <div class="bycicle">
                                    <span>150</span><img src="/assets/images/card-2x.png"/>
                                  </div>
                                  <p class="card-text">Gift Card de VISA s/ 100</p>
                                </div>
                            </div>
                          </div>
                        </div>
                    </el-carousel-item>
                </el-carousel>
            </el-col>
        </div>
    </el-row>

</div>
{% endblock %}
