{% extends "frontend/layout/base.twig" %}

{% block content %}
<div id="profile" style="display: none">
  <el-row class="full-height">
    {# <div class="square">
      <img class="left" src="/assets/images/left-background.jpg">
      <div class="middle">
      </div>
      <img class="right" src="/assets/images/right-background.jpg">
    </div> #}
    <div class="section-content">
      <img src="/assets/images/sol-2.png" class="sol">
      <div class="block">
        <div class="info">
          <img src="/assets/images/galleta-2x.png">
          <p class="name">${name}</p>
          <p class="options" v-if="points != 1">${points} opciones</p>
          <p class="options" v-else>${points} opción</p>
          <div class="div-button" @click="dialogVisibleEnterLote = true">
            <p>INGRESA AQUÍ<br>MÁS Nº DE LOTE</p>
          </div>
          <a href="/meme-list"><div class="div-button">
            <p>COMPARTE MÁS<br>MEMES AQUÍ</p>
          </div></a>
          <p class="item">Email:&nbsp;${email}</p>
          <p class="item">DNI: ${document}</p>
          <p class="item">Teléfono: ${phone}</p>
        </div>
        <div class="list">
          <div class="header">
            <div>#</div>
            <div class="margin">Item</div>
            <div>Lote</div>
            <div>Fecha</div>
          </div>
          <div class="meme-row" v-for="p, index in memes">
            <div class="index">${(page - 1) * 4 + (index + 1)}</div>
            <div class="item">
              <div class="image" :style="{'background': 'url(' + p.photo + ') center center no-repeat', 'background-size': 'cover'}" v-if="p.photo"></div>
              <div class="image" v-else></div>
            </div>
            <div class="lote">${p.lote}</div>
            <div>${p.date}</div>
          </div>
          <div class="empty" v-if="memes.length == 0">
            NO TIENES MEMES
          </div>
          <el-pagination
            small
            :page-size="4"
            :pager-count="10"
            layout="pager"
            :total="memesTotal"
            @current-change="pageList"
            v-if="memes.length > 0">
            </el-pagination>
        </div>
      </div>
    </div>
  </el-row>
  <el-dialog
  title="¡PENSÁ!"
  :visible.sync="dialogVisibleEnterLote"
  width="400px"
  class="dialog-login"
  @close="removeLote">
    <el-row class="body">
      <p class="more">A más N° de lotes ingresados</p>
      <p class="more-2x">más oportunidades de GANAR</p>
      <img src="/assets/images/one_image.png" class="card-image">
      <el-input v-model="lote"  @input="$v.lote.$touch()" :class="{ 'error': $v.lote.$error }" placeholder="Ingresa tu N° de Lote"></el-input>
      <span class="error" v-if="$v.lote.$error">El código debe ser de 2 letras y 10 números</span>
      <el-button :style="{'opacity': (lote.length == 0 || $v.lote.$error) ? 0.5 : 1}" :disabled="(lote.length == 0 || $v.lote.$error)" class="button-login profile-lote-btn" :disabled="lote.length == 0" v-if="!loading" @click="shareLote">ENVIAR</el-button>
      <beat-loader :loading="loading" color="#efd100" size="20px" style="margin-top:20px;"></beat-loader>
    </el-row>
  </el-dialog>
</div>
{% endblock %}

{% block extra_js %}
<script src="assets/js/html2canvas.min.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
{% endblock %}