{% extends "frontend/layout/base.twig" %}

{% block content %}
<div id="winners" class="winners">
    <div id="meme-content" class="full-height el-row">
    {# <div class="square">
        <img class="left" src="/assets/images/left-background.jpg">
        <div class="middle"></div>
        <img class="right" src="/assets/images/right-background.jpg">
    </div> #}
    <div class="section-content">
        <p class="section-title"><img src="/assets/images/winners.png"></p>
        <div :span="24" class="div-winners">
            <div class="table-winners">
                <el-table
                    :data="winners"
                    style="width: 100%">
                    <el-table-column
                        prop="name_user"
                        label="NOMBRE">
                    </el-table-column>
                    <el-table-column
                        prop="name_prize"
                        label="PREMIO">
                    </el-table-column>
                </el-table>
                

                <el-pagination
                small
                :page-size="9"
                layout="prev, pager, next"
                :total="winnersTotal"
                @current-change="pageList">
                </el-pagination>
            </div>
        </div>
    </div>

</div>
{% endblock %}
