@media only screen and (max-width: 1350px){
    #meme-list .section-content .block-buttons .block button{
        font-size: 18px;
        padding: 10px;
    }
    #meme-list .section-content .block-buttons .block button.one{
        height: 42px;
    }

    #meme-list .section-content {
      padding: 80px 100px;
      height: auto;
    }
    #meme-generator .section-content{
        padding: 80px 100px;
        height: auto;
    }

    #meme-generator.meme-single .section-content{
        height: 100vh !important;   
    }

    /*#meme-generator .section-title img{
        height: 50px;
    }*/
    #meme-generator #meme-container .sol{
        right: -48px;
        width: 150px;
    }
    .awards .carousel .content .block-flex .item-block.main .div-image{
        width: 285px;
    }
    .awards .carousel .content .block-flex .item-block.main .right{
        width: 520px;
    }
    .awards .carousel .content .block-flex .item-block .right .title{
        font-size: 24px;
    }
    .awards .carousel .content .block-flex .item-block .right .title span{
        font-size: 17px;
    }
    .awards .carousel .content .block-flex .item-block{
        justify-content: center;
    }
}
@media only screen and (max-width: 1280px){
  .section-title img {
    height: 60px;
  }

  #meme-generator .section-title img {
    height: 55px;
  }

  .section-title.award img {
    height: 50px;
  }

  .awards .carousel .content .block-flex {
    margin-top: 40px;
  }

  .mechanics .mechanics-info {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 1250px){
    #mechanic .section-content{
        padding: 100px 50px;
    }
    .mechanics .mechanics-line .second-row img{
        width: 80%;
    }
    .mechanics .mechanics-info>img{
        top: -205px;
        width: 150px;
    }
    .login{
        height: 35px !important;
        padding: 13px 35px !important;
    }
    .navbar-expand-lg{
        /*padding: 3px 10px 0 10px;*/
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 7px 20px;
    }
    .navbar-expand-lg .navbar-nav .nav-link.user .info img{
        height: 44px;
    }
    .navbar-expand-lg .navbar-nav .nav-link.user .info div .name{
        font-size: 16px;
    }
    .navbar-expand-lg .navbar-nav .nav-link.user .info div .points{
        font-size: 20px;
    }
    .awards .carousel .content .jesus{
        height: 120px;
    }
    .awards .carousel .content .flips{
        height: 120px;
    }
    .awards .carousel .content .block-flex .item-block .div-image{
        width: 350px;
    }
    .awards .carousel .el-carousel__arrow{
        height: 55px;
        width: 40px;
        background-size: contain !important;
    }
    .awards .carousel .content .block-flex .item-block .div-image p.bici{
        font-size: 35px;
    }
    .awards .carousel .content .block-flex .item-block .div-image p.bici img{
        height: 70px;
    }
    .awards .carousel .content .block-flex .item-block .right.bici{
        margin-left: 20px;
    }
    #meme-list .section-content .memes{
        justify-content: center;
    }
    #meme-list .section-content .memes .block-list{
        width: 550px;
    }
    #meme-list .section-content .block-buttons{
        display: flex;
    }
    #meme-list .section-content .block-buttons .block.one{
        /*width: 550px;*/
    }
    #meme-list .section-content .memes .create .div-button{
        padding: 85px 0;
    }
    #meme-list .section-content .memes .create .div-button img{
        height: 120px;
    }
    #profile .block .list{
        width: 450px;
    }
    #meme-list .section-content .meme-title img{
        margin-left: 15px;
    }
    #meme-list .section-content .categories{
        margin-left: 20px;
    }
    .awards .carousel .content .block-flex .item-block.main .div-image{
        width: 270px;
    }
    .awards .carousel .content .block-flex .item-block .right .title{
        font-size: 20px;
    }
    .awards .carousel .content .block-flex .item-block .right .title span{
        font-size: 15px;
    }
    .awards .carousel .content .block-flex .item-block.main .right{
        width: 420px;
    }
    .awards .carousel .content .block-flex .item-block .right .items-image{
        width: 100%;
    }
}
@media only screen and (max-width: 1200px){
        #meme-list .section-content .memes .list{
        justify-content: center;
    }
    #meme-list .section-content .categories {
        justify-content: center;
    }

    #meme-list .section-content .meme-list-left .block-buttons .block{
        justify-content: center;
    }

    #meme-list .section-content .block-buttons .block button.one{
        margin-right: auto;
        margin-left: auto;
        max-width: auto;
    }

    #meme-list .section-content .meme-list-right{
        margin-top: 50px;
    }

    #meme-list .section-content .memes .create .block{
        padding-bottom: 50px;
    }

    #meme-list .section-content{
        height: auto;
    }
}
@media only screen and (max-width: 1150px){
    #meme-list .section-content .memes .list .meme{
        width: 190px;
        height: 180px;
    }
    #meme-list .section-content{
        padding: 50px;
    }
    #meme-list .section-content .block-buttons{
        display: flex;
        justify-content: center;
    }
    #meme-list .section-content .block-buttons .block button{
        font-size: 16px;
    }
    #profile .block .list{
        width: 400px;
    }
    #profile .block .info{
        padding: 50px 30px;
    }
    #profile .block .info img{
        height: 90px;
    }
    #profile .block .info .name{
        font-size: 20px;
    }
    #profile .block .info .options{
        font-size: 35px;
    }
    #profile .block .info .div-button{
        background-size: contain;
        width: 240px;
        background-repeat: no-repeat;
    }
    #profile .block .info .div-button p{
        font-size: 15px;
    }
    .dialog-login.share .el-dialog{
        margin-left: calc(50% - 300px);
    }
    #meme-list .section-content .meme-title img{
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1050px){
    #meme-list .section-content .block-buttons .block button{
        font-size: 14px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 7px 15px;
        font-size: 15px;
    }
    #meme-list .section-content .categories{
        margin-left: 35px;
    }
    #meme-generator #meme-container .sol{
        width: 120px;
    }
    #meme-generator .section-title button{
        padding: 11px;
    }
    #meme-generator #meme-container #meme-tools button{
        font-size: 13px;
    }
    .awards .carousel .content .block-flex .item-block.main .div-image{
        width: 240px;
    }
    .awards .carousel .content .block-flex .item-block.main .right{
        width: 380px;
    }
    .login{
        font-size: 11px !important;
    }
}
@media only screen and (max-width: 992px){
    .square{
        display: none;
    }
    .navbar-expand-lg{
        padding: 0;
    }
    .navbar-light .navbar-toggler{
        border: none;
    }
    .navbar-light .navbar-toggler-icon{
        background: url('../assets/images/galleta-mobile.png') center center no-repeat;
        background-size: contain;
    }
    .navbar-collapse .triangle{
        display: none;
    }
    .navbar-collapse{
        z-index: 3;
        background: #DA1F27;
        padding-right: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        color: #f4cc2d;
        height: 40px;
        text-transform: uppercase;
        font-size: 12px;
    }
    .menu .navbar-expand-lg .navbar-nav .nav-link:hover{
        color: #f4cc2d;
    }
    .navbar-expand-lg .navbar-nav .nav-link.user .info div .name{
        color: #f4cc2d;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        background: #DA1F27;
        border: none;
        border-radius: 0;
        padding-left: 50px;
        color: #f4cc2d;
        right: 0;
        text-align: left;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu a.logout{
        border-bottom: none;
        color: #f4cc2d;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu a.account{
        color: #f4cc2d;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu a:hover{
        background: #DA1F27;
    }
    .login{
        padding: 7px 15px !important;
        background: none !important;
        height: 40px !important;
        font-size: 12px !important;
    }
    .navbar-nav{
        background: #DA1F27;
    }
    .navbar-expand-lg .navbar-brand.logued{
        /*opacity: 0;*/
        pointer-events: none;
    }
    .menu{
        border: none;
    }
    .image-home{
        background: url('../assets/images/background-home-mobile.png') center center no-repeat;
        background-size: contain;
        height: 815px;
        margin-top: -95px;
        z-index: 1;
    }
    .image-home .container-logo-home{
        display: none;
    }
    .image-home .footer-image{
        display: none;
    }
    .extra-home{
        height: 100px;
        display: block;
        height: 232px;
        text-align: center;
        z-index: 2;
        position: relative;
    }
    .extra-home.bottom{
        background: url('../assets/images/bottom-background-home-mobile.png') center center no-repeat;
        background-size: cover;
        height: 235px;
        margin-top: -10px;
    }
    .extra-home .logo-home{
        height: 245px;
        margin-top: -35px;
    }
    .extra-home .pensa{
        position: absolute;
        bottom: 50px;
        left: 35px;
    }
    .content-image-home{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .terms{
        margin: 0;
    }
    .terms .text{
        height: 500px;
    }
    .button-participate{
        display: block;
        background: #F6CF2B;
        color: #DA1F27;
        font-size: 40px;
        font-family: 'eames-bold';
        text-align: center;
        padding: 10px 20px;
        cursor: pointer;
    }
    .carousel-awards{
        display: block;
        border-top: 2px dotted #F6CF2B;
        background: url('../assets/images/background-carousel-home.png') center center no-repeat;
        background-size: contain;
        height: 250px;
    }
    .section-content{
        padding: 50px;
        position: inherit;
        height: auto;
    }
    .full-height{
        height: auto;
    }
    .section-title{
        font-size: 30px;
    }
    .mechanics .mechanics-info{
        display: block;
        margin-top: 0px;
    }
    .mechanics .mechanics-line{
        width: 100%;
    }
    .mechanics .mechanics-line .first-row{
        align-items: center;
    }
    .mechanics .mechanics-line .first-row img{
        width: 60px;
        height: 60px;
    }
    .mechanics .mechanics-line .second-row{
        justify-content: center;
        margin-top: 0;
    }
    .mechanics .mechanics-line .second-row img{
        width: auto;
        z-index: 2;
        height: 100%;
    }
    .mechanics .mechanics-line{
        padding: 0 0 20px 0;
    }
    .mechanics .mechanics-info>img{
        width: 170px;
        z-index: 1;
        left: -15px;
        bottom: 0;
        top: auto
    }
    .awards .carousel .el-carousel__container{
        height: 772px;
    }
    .awards .carousel .el-carousel__item.bici{
        display: none;
    }
    .awards .carousel .content .block-flex{
        display: block;
    }
    .awards .carousel .content .block-flex{
        display: block;
    }
    .awards .carousel .content .block-flex .item-block{
        display: block;
        width: auto !important;
    }
    .awards .carousel .content .block-flex .item-block .div-image{
        height: auto;
        padding-top: 0;
        margin: 0 auto;
        margin-top: -75px;
    }
    .awards .carousel .content .block-flex .item-block.main .div-image{
        padding-top: 0;
        height: auto;
        margin-top: 0;
    }
    .awards .carousel .content .block-flex .item-block .right{
        display: flex;
        justify-content: center;
    }
    .awards .carousel .content .block-flex .item-block .right div{
        width: 300px;
        text-align: center;
    }
    .awards .carousel .content .block-flex .item-block.main .right div{
        width: auto;
        text-align: left;
    }
    .awards .carousel .content .block-flex .item-block .right.second{
        width: 100%;
        margin: 13px 0;
    }
    .awards .carousel .content .block-flex .item-block .extra-item{
        display: block;
        border-top: 2px dotted #F6CF2B;
        margin: 0 70px;
        padding-top: 45px;
    }
    .awards .carousel .content .block-flex .item-block.instantanius .div-image{
        margin-top: 102px;
        margin-bottom: 40px;
        width: 100%;
    }
    .awards .carousel .content .block-flex .item-block.instantanius .div-image.gift{
        margin-top: 40px;
    }
    .awards .carousel .content .jesus{
        top: 60px;
    }
    .awards .carousel .content .flips{
        left: auto;
        right: 20px;
    }
    #profile .block{
        flex-direction: column;
        align-items: center;
    }
    #profile .block .info{
        width: 400px;
        text-align: center;
        margin-right: initial;
    }
    #profile .block .list .el-pagination{
        margin-bottom: 50px;
    }
    #profile .block .info .div-button{
        margin: 20px 50px;
    }
    #profile .block .info .item{
        padding-left: 0;
        text-align: center;
    }
    #profile .block .list{
        width: 500px;
        margin: 40px 0 110px 0;
    }
    #profile .section-content .sol{
        bottom: 98px;
        width: 100px;
    }
    #mechanic .section-content{
        padding: 50px 20px 120px 20px;
    }
    .mechanics .mechanics-info>img{
        width: 120px;
        left: 0px;
        bottom: -35px;
    }
    /*.footer{
        background-position-y: center;
    }*/
    .footer .legend img{
        top: -61px;
        left: -72px;
        height: 110px;
    }
    #awards .section-content{
        padding-bottom: 95px;
    }
    .awards .carousel .content .block-flex .item-block.main .right{
        margin-top: 50px;
        width: 100%;
    }
    .awards .carousel .content .block-flex .item-block.main .right div{
        text-align: center;
    }
    .awards .carousel .content .block-flex .item-block .right .items-image{
        width: 50%;
    }
    .awards .carousel .content .block-flex .item-block .div-image .phone{
        margin-top: 100px;
    }
    .awards .carousel .content .block-flex .item-block .right.second .title{
        text-align: center;
    }
    #winners .section-content{
        min-height: 760px;
    }

    .footer .social div img{
        height: 20px;
    }

    #meme-generator #meme-container{
        flex-direction: column;
        align-items: center;
    }

    #meme-generator .section-title button{
        display: none;
    }

    #meme-generator .section-content{
        padding: 50px 20px;
    }
    #meme-generator #meme-container #meme-tools{
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: initial;
    }

    .winners .el-pagination{
        margin-bottom: 150px;
    }

}
@media only screen and (max-width: 900px){
    .image-home{
        height: 735px;
        margin-top: -90px;
    }
    .extra-home.bottom{
        margin-top: 0;
    }
}
@media only screen and (max-width: 800px){
    .image-home{
        height: 655px;
        margin-top: -85px;
    }
}
@media only screen and (max-width: 768px){
    .image-home{
        height: 630px;
        margin-top: -85px;
    }
    .extra-home .pensa{
        height: 80px;
    }
    .extra-home.bottom{
        height: 180px;
        margin-top: 0;
    }
    .extra-home.bottom img{
       width: 100%;
    }
    .winners .div-winners .table-winners{
        width: 100%;
    }
}
@media only screen and (max-width: 700px){
    .image-home{
        height: 570px;
        margin-top: -82px;
    }
    .awards .section-content{
        padding: 50px 20px
    }
    .awards .carousel .content .block-flex .item-block.main .div-image{
        width: 275px;
        height: 250px;
    }
    .awards .carousel .content .block-flex .item-block .right .title{
        font-size: 16px;
    }
    .awards .carousel .content .block-flex .item-block .right .item{
        font-size: 13px;
    }
    .awards .carousel .content .block-flex .item-block .div-image .bycicle{
        margin-top: 100px;
    }
    .awards .carousel .content .block-flex .item-block.instantanius .div-image.gift{
        margin-top: -50px;
    }
    .winners .div-winners .table-winners .el-table .el-table__row{
        font-size: 13px;
    }

}
@media only screen and (max-width: 600px){
    .image-home{
        height: 495px;
    }
    .extra-home.bottom {
        height: 150px;
    }
    /*.mechanics .mechanics-line .second-row img{
        width: 250px;
    }*/
    #profile .block .info{
        width: 300px;
    }
    #profile .block .list{
        width: 400px;
    }
    #profile .block .info .div-button{
        margin: 20px 0px;
    }
    .mechanics .mechanics-info{
        margin-top: 20px;
    }
    .section-title img{
        height: 40px;
    }
    #meme-generator .section-title img{
        height: 40px;
    }
    .section-title.award img{
        height: 40px;
    }
    /*.section-title.award img{
        height: 50px;
    }*/
    .carousel{
        margin-bottom: 50px;
    }
    .awards .carousel .content .block-flex .item-block .div-image{
        margin-top: -69px;
    }
    #winners .section-content{
        padding: 50px 20px;
    }

    .footer .social span{
        margin: 36px 30px 0 0;
    }
}
@media only screen and (max-width: 500px){
    .image-home {
        height: 415px;
    }
    .extra-home.bottom {
        height: 120px;
    }
}
@media only screen and (max-width: 480px){
    .extra-home .pensa{
        left: 20px;
    }
    .section-content{
        padding: 50px 20px;
        position: inherit;
    }
    #profile .block .list{
        width: 340px;
    }
    #profile .block .list .meme-row{
        font-size: 12px;
    }
    #profile .block .list .meme-row .item .image{
        height: 60px;
    }
    #profile .block .list .meme-row .item{
        width: 70px;
    }
    .section-title.award img{
        height: 40px;
    }
    .awards .carousel .content .block-flex .item-block .right .items-image{
        width: 90%;
    }
    .section-title.award img{
        height: 30px;
    }
    .awards .carousel .content .block-flex .item-block.main .div-image{
        width: 220px;
        height: 220px;
    }
    .awards .carousel .el-carousel__container{
        height: 685px;
    }
    .awards .carousel .content .block-flex .item-block .right .title{
        font-size: 13px;
    }
    .awards .carousel .content .block-flex .item-block .right .title span{
        font-size: 10px;
    }
    .awards .carousel .content .block-flex .item-block .div-image{
        margin-top: -14px;
    }
    .awards .carousel .content .block-flex .item-block .div-image{
        width: 100%;
    }
    .awards .carousel .content .block-flex .item-block .div-image .phone span,
    .awards .carousel .content .block-flex .item-block .div-image .bycicle span{
        font-size: 75px;
    }
    .awards .carousel .content .block-flex .item-block .div-image p{
        font-size: 20px;
    }
    .awards .carousel .content .block-flex .item-block .div-image .phone img,
    .awards .carousel .content .block-flex .item-block .div-image .bycicle img{
        height: 45px;
    }
    .awards .carousel .content .block-flex .item-block .div-image p.bici img{
        height: 45px;
    }
    .awards .carousel .content .block-flex .item-block.instantanius .div-image{
        margin-top: 131px;
        margin-bottom: 81px;
    }
    .awards .carousel .content .block-flex .item-block.instantanius .div-image .bycicle span{
        font-size: 60px;
    }
    .awards .carousel .content .block-flex .item-block .div-image p.card-text{
        font-size: 21px;
    }
    .awards .carousel .content .block-flex .item-block .div-image .bycicle{
        margin-top: 9px;
    }
    .awards .carousel .content .block-flex .item-block .extra-item{
        padding-top: 90px;
    }
    .winners .div-winners .table-winners .el-table .el-table__row{
        font-size: 11px;
    }
}
@media only screen and (max-width: 400px){
    .image-home {
        height: 335px;
        margin-top: -75px;
    }
    .extra-home.bottom {
        height: 100px;
    }

    .footer .legend img {
      height: 70px;
      margin-left: 15px;
      margin-top: -40px;
    }

    #meme-list .section-content .memes .block-list{
        width: 360px;
        min-width: 360px;
    }

    #meme-list .section-content .meme-list-right img{
        height: 28px;
    }
    #meme-list .section-content .memes .list .meme{
        height: 140px;
    }

    #meme-list .section-content .memes .create .div-button{
        width: 300px;
        margin-left: initial;
    }

    #meme-list .section-content .memes .create .block{
        padding-bottom: 100px;
    }

    #meme-list .section-content .categories div{
        font-size: 17px;
    }

    #meme-generator #meme-container #meme-image-container{
        width: 300px !important;
        min-width: 300px !important;
        height: 300px !important;
        min-height: 300px !important;
    }

    #meme-generator #meme-image{
        width: 300px !important;
        min-width: 300px !important;
        height: 300px !important;
        min-height: 300px !important;
    }

    #meme-generator #meme-image img{
        width: 300px !important;
        min-width: 300px !important;
        height: 300px !important;
        min-height: 300px !important;
    }

    .dialog-login .body .curve{
        display: none;
    }
    .dialog-login .body .card-flotate{
        display: none;
    }
    .dialog-login.share .el-dialog{
        margin-left: 0;
    }
}
@media only screen and (max-width: 360px){
    .extra-home.bottom {
        margin-top: -33px;
        height: 84px;
    }
    #profile .block .list{
        width: 320px;
    }
    .awards .carousel .content .block-flex .item-block.instantanius .div-image .bycicle span{
        font-size: 50px;
    }
    .awards .carousel .content .block-flex .item-block.instantanius .div-image .bycicle img{
        height: 40px;
    }
}
