@font-face {
    font-family: 'helvetica-bold'; /*a name to be used later*/
    src: url('../assets/Fonts/HelveticaNeueCondensedBold.ttf') format('opentype'),
         url('../assets/Fonts/HelveticaNeueCondensedBold.woff') format('woff');
}
@font-face {
    font-family: 'eames'; /*a name to be used later*/
    src: url('../assets/Fonts/EamesCenturyModern-Book.otf') format('opentype'),
         url('../assets/Fonts/EamesCenturyModern-Book.woff') format('woff');
}
@font-face {
    font-family: 'eames-bold'; /*a name to be used later*/
    src: url('../assets/Fonts/EamesCenturyModern-Bold.otf') format('opentype'),
         url('../assets/Fonts/EamesCenturyModern-Bold.woff') format('woff');
}
@font-face {
    font-family: 'courier'; /*a name to be used later*/
    src: url('../assets/Fonts/Courier New.ttf') format('truetype'),
         url('../assets/Fonts/CourierNewPSMT.woff') format('woff');
}
@font-face {
    font-family: 'gotham-book'; /*a name to be used later*/
    src: url('../assets/Fonts/GothamBook.ttf') format('truetype'),
         url('../assets/Fonts/GothamBook.woff') format('woff');
}
@font-face {
    font-family: 'gotham-black'; /*a name to be used later*/
    src: url('../assets/Fonts/Gotham-Black.otf') format('opentype'),
         url('../assets/Fonts/Gotham-Black.woff') format('woff');
}

.v-modal{
    display: none;
}
body{
    background: #da2228;
    position: relative;
    overflow-x: hidden;
}
.el-dialog__wrapper{
    background: rgba(0,0,0,0.5);
}
/* =============== HOME ==================== */
#home{
    padding-top: 60px;
}
.menu{
    background: #DA2228;
    height: 60px;
    /* border-top: 1px solid #efd100;
    border-bottom: 1px solid #efd100; */
    position: fixed;
    z-index: 4;
    left: 0;
    right: 0;
}
.menu .navbar-brand{
    padding-top: 0;
    width: 150px;
}
.menu .navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #DA2228;
}
.menu .logo{
    height: 50px;
}
.navbar-collapse{
    justify-content: flex-end;
    height: 60px;
    /*background: url(/assets/images/menu-yellow.png) center center;*/
    background: #f6d02e;
    background-size: cover;
    padding-right: 20px;
    position: relative;
}


.navbar-collapse .triangle{
    background: url(/assets/images/menu-yellow.png);
    height: 60px;
    width: 60px;
    position: absolute;
    left: -40px;
    top: 0;
}

/*.navbar-collapse::before{
    content: "";
    border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: rebeccapurple;
}*/
.navbar-expand-lg{
    padding: 0px 0px 0 40px;
    font-family: 'eames';
}
.navbar-light .navbar-nav .nav-link{
    color: #DA2228;
    font-family: 'eames-bold';
}
/* .navbar-expand-lg .navbar-brand.logued{
    height: 74px;
} */
.navbar-expand-lg .navbar-nav .dropdown-menu{
    position: absolute;
    top: 52px;
    text-align: center;
    right: 40px;
    padding: 0 5px;
    font-family: 'eames';
}
.navbar-expand-lg .navbar-nav li{
    position: relative;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a{
    padding: 10px 0;
    cursor: pointer;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a.account{
       border-bottom: 1px solid #c8c8c8;
       color: #d31f27;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a.logout{
       border-bottom: 1px solid #c8c8c8;
       color: #979797;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a:active{
       background: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 18px 35px;
    cursor: pointer;
    height: auto;
}
.navbar-light .navbar-nav.logued .nav-link{
    padding-top: 20px;
}
.navbar-light .navbar-nav.logued .nav-link.user{
    padding-top: 7px;
    padding-bottom: 0;
    height: 61px;
}
.navbar-expand-lg .navbar-nav .nav-link.user .info{
    display: flex;
    align-items: center;
    height: 45px;
}
.navbar-expand-lg .navbar-nav .nav-link.user .info div{
    margin-right: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link.user .info div .name{
    font-size: 18px;
    font-family: 'eames-bold';
    color: #DA2228;
    text-transform: capitalize;
}
.navbar-expand-lg .navbar-nav .nav-link.user .info div .points{
    color: white;
    font-family: 'eames';
    font-size: 23px;
}
.dropdown-toggle::after{
    opacity: 0;
}
.login{
    background: url('../assets/images/button-login.png') center center no-repeat;
    /* padding: 4px 12px !important; */
    /* margin-top: 4px; */
    font-size: 12px;
    height: 50px !important;
    color: #f6d02e !important;
    background-size: contain;
    padding: 19px 35px !important;
}
.button-participate{
    display: none;
}
.extra-home{
    display: none;
}
.carousel-awards{
    display: none;
}
.image-home{
    background: url('../assets/images/background-home.jpg') center center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
}
.image-home .footer-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.image-home .container-logo-home{
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    width: calc(100% / 4);
    margin-left: 140px;
    margin-top: 50px;
    position: relative;
    padding-bottom: 80px;
    z-index: 2;
}
.image-home .container-logo-home button{
    -webkit-box-shadow: 10px 8px 24px -6px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 8px 24px -6px rgba(0,0,0,0.44);
    box-shadow: 10px 8px 24px -6px rgba(0,0,0,0.44);
    width: 290px;
    padding: 20px 0;
    font-size: 30px;
    font-family: 'eames-bold';
    color: #d31f27;
    font-weight: 600;
    left: 0;
    /*margin-top: 100px;*/
    align-self: flex-end;
    background: #F6CF2B;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
}
.image-home .container-logo-home button:focus{
    outline: none;
}

/* terms */
.terms{
    /* margin: 100px 0; */
    margin-top: 20px;
}


.terms .div-text{
    display: flex;
    justify-content: center;
    height: 100%;
}
.terms .text{
    width: 800px;
    height: 100%;
    overflow-y: auto;
    padding: 20px 20px 20px 40px;
    color: white;
    line-height: 27px;
    background: rgba(245,205,44, 0.2) !important;
    font-family: 'eames';
    font-size: 15px;
    /* border-right: 2px solid #F6CF2B; */
}
.terms .text a{
    color: #e9d300;
    text-decoration: underline;
}
.terms .text ul{
    list-style: decimal;
    margin: 10px 0 0 40px;
}
.terms .text ul.awards{
    list-style: circle;
    margin: 10px 0 0 80px;
}

/* end terms */

/* mechanics */

.mechanics {

}

.mechanics .mechanics-text{
    font-family: 'gotham-book';
    font-size: 18px;
}


.mechanics strong{
    font-family: 'gotham-black';
}

.mechanics .mechanics-info{
    display: flex;
    margin-top: 80px;
    position: relative;
}

.mechanics .mechanics-info > img{
    position: absolute;
    top: -233px;
    right: -25px;
    width: 180px;
}

.mechanics .mechanics-line{
    padding: 20px;
}

.mechanics .mechanics-line .first-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    color: white;
    height: 70px;
}
.mechanics .mechanics-line .first-row img{
    /*width: 50px;*/
    height: 50px;
    margin-right: 20px;
}


.mechanics .mechanics-line .second-row {
    margin-top: 40px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*.mechanics .mechanics-line .second-row img{
    width: 70%;
}*/

.mechanics .mechanics-line .second-row img{
    width: 90%;
}

/*.mechanics .mechanics-line .second-row img.image3{
    width: 90%;
}*/

/* end mechanics */

/* start awards */
.awards .carousel .el-carousel__arrow{
    height: 63px;
    width: 57px;
    border-radius: 0;
    z-index: 2;
}
.awards .carousel .el-carousel__arrow.el-carousel__arrow--left:before{
    content: "Atrás";
    position: absolute;
    bottom: -30px;
    text-transform: uppercase;
    font-family: 'helvetica-bold';
    color: #f7d100;
    font-size: 1.1rem;
    right: -2px;
}
.awards .carousel .el-carousel__arrow.el-carousel__arrow--left{
    display: block !important;
    background: url('../assets/images/arrow-left.png') no-repeat center center;
    cursor: pointer;
    z-index: 3;
}
.awards .carousel .el-carousel__arrow.el-carousel__arrow--left i{
    display: none;
}
.awards .carousel .el-carousel__arrow.el-carousel__arrow--right:before{
    content: "SIGUIENTE";
    position: absolute;
    bottom: -30px;
    text-transform: uppercase;
    font-family: 'helvetica-bold';
    color: #f7d100;
    font-size: 1.1rem;
    right: -2px;
}
.awards .carousel .el-carousel__arrow.el-carousel__arrow--right{
    display: block !important;
    background: url('../assets/images/arrow-right.png') no-repeat center center;
    cursor: pointer;
    z-index: 3;
}
.awards .carousel .el-carousel__arrow.el-carousel__arrow--right i{
    display: none;
}
.awards .carousel .el-carousel__container{
    height: 600px;
}
.awards .carousel .el-carousel__indicators{
    display: none;
}
.awards .carousel .content{
    height: 100%;
    position: relative;
}
.awards .carousel .content .jesus{
    position: absolute;
    top: 20px;
    left: 40px;
}
.awards .carousel .content .flips{
    position: absolute;
    bottom: 0px;
    left: calc(50% - 40px);
}
.awards .carousel .content .block-flex{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.awards .carousel .content .block-flex .item-block{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.awards .carousel .content .block-flex .item-block .div-image {
  width: 50%;
}

.awards .carousel .content .block-flex .item-block.main{
    width: 900px;
}
.awards .carousel .content .block-flex .item-block.main .right{
    width: 560px;
}
.awards .carousel .content .block-flex .item-block.instantanius{
    justify-content: center;
}
.awards .carousel .content .block-flex .item-block.main .div-image{
    /* height: 400px; */
    width: 335px;
}
.awards .carousel .content .block-flex .item-block .div-image .brazil{
    width: 100%;
}
.awards .carousel .content .block-flex .item-block .div-image .phone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
}
.awards .carousel .content .block-flex .item-block .div-image .phone span{
    font-size: 140px;
    font-family: 'eames-bold';
    color: #F6CF2B;
    margin-right: 30px;
}
.awards .carousel .content .block-flex .item-block .div-image .phone img{
    height: 92px;
}
.awards .carousel .content .block-flex .item-block .div-image p{
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'eames';
    margin-top: 15px;
}
.awards .carousel .content .block-flex .item-block .div-image .bycicle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
}
.awards .carousel .content .block-flex .item-block .div-image .bycicle span{
    font-size: 130px;
    font-family: 'eames-bold';
    color: #F6CF2B;
    margin-right: 30px;
}
.awards .carousel .content .block-flex .item-block .div-image p.bici{
    font-size: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.awards .carousel .content .block-flex .item-block .div-image p.card-text{
    font-size: 35px;
}
.awards .carousel .content .block-flex .item-block .extra-item{
    display: none;
}
.awards .carousel .content .block-flex .item-block .right{
    text-align: center;
    width: 50%;
}
.awards .carousel .content .block-flex .item-block .right.second{
    text-align: left;
    display: flex;
    justify-content: center;
    /* margin-top: 90px; */
    margin-top: 80px;
}
.awards .carousel .content .block-flex .item-block .right.second div{
    width: 80%;
    /* width: 250px; */
}
.awards .carousel .content .block-flex .item-block .right .title{
    font-size: 30px;
    font-family: 'helvetica-bold';
    color: #F6CF2B;
    margin-bottom: 15px;
    text-align: center;
}
.awards .carousel .content .block-flex .item-block .right.second .title{
    text-align: left;
}
.awards .carousel .content .block-flex .item-block .right .items-image{
    margin-top: 10px;
}
.awards .carousel .content .block-flex .item-block .right .title span{
    font-size: 27px;
    font-family: 'eames-bold';
    color: #F6CF2B;
    margin-bottom: 5px;
    font-size: 19px;
}
.awards .carousel .content .block-flex .item-block .right .item{
    font-size: 18px;
    font-family: 'helvetica-bold';
    color: white;
    margin-bottom: 8px;
    line-height: 24px;
}
/* end awards */

/* start winners */
#winners{
    padding-top: 60px;
}
#winners .section-content{
    background: url('../assets/images/background-section.png') center center no-repeat;
    background-size: cover;
}
.winners .div-winners{
    display: flex;
    justify-content: center;
}
.winners .div-winners .table-winners{
    width: 800px;
    margin-top: 40px;
}
.winners .div-winners .table-winners .el-table{
    background: rgba(245,205,44, 0.2) !important;
    border: 2px dotted #efd100;
}
.winners .div-winners .table-winners .el-table thead{
    color: #efd100;
    font-family: 'eames';
    font-size: 18px;
}
.winners .div-winners .table-winners .el-table .el-table__header-wrapper{
    border-bottom: 2px dotted #efd100;
}
.winners .div-winners .table-winners .el-table tr{
    background: none !important;
}
.winners .div-winners .table-winners .el-table tr th{
    background: none !important;
    border: none;
    text-align: center;
    padding: 8px 0;
}
.winners .div-winners .table-winners .el-table tr td{
    background: none !important;
    border: none;
    padding: 0 0 10px 19px;
}
.winners .div-winners .table-winners .el-table tr:nth-child(1) td{
    padding-top: 10px;
}
.winners .div-winners .table-winners .el-table tr td:last-child{
    border: none;
}
.winners .div-winners .table-winners .el-table .el-table__row{
    color: white;
    font-family: 'eames';
    font-size: 16px;
}
.winners .div-winners .table-winners .el-table .el-table__row:hover{
    background: none;
}
.winners .el-pagination{
    text-align: center;
    margin-top: 15px;
}
.winners .el-pagination button{
    background: none;
}
.winners .el-pagination button i{
    background: none;
    color: #efd100;
    font-size: 14px;
    font-weight: bold;
}
.winners .el-pagination .el-pager li{
    background: none;
    color: white;
    font-family: 'eames';
    font-size: 16px;
    height: 20px;
    line-height: 19px;
    border-left: 1px solid #efd100;
    padding: 0 11px;
}
/* end winners */
.dialog-login .el-dialog{
    background: #d31f27;
    border-radius: 15px;
}
.dialog-login .el-dialog__header{
    text-align: center;
    padding: 30px 20px 10px;
}
.dialog-login .el-dialog__body{
    padding: 10px 10px 20px 10px
}
.dialog-login .body{
    padding: 0 30px 20px 30px;
    position: relative;
}
.dialog-login .body .el-collapse{
    border: none;
}
.dialog-login .body .el-collapse .el-collapse-item__header{
    background: none;
    color: #efd100;
    font-family: 'eames';
    font-size: 14px;
    border-bottom: 1px solid #efd100;
}
.dialog-login .body .el-collapse .el-collapse-item__wrap{
    background: none;
    border: none;
    margin-top: 10px;
}
.dialog-login .body .el-collapse .el-collapse-item__content{
    color: white;
    font-family: 'eames';
    font-size: 14px;
    padding-bottom: 5px;
}
.dialog-login .body .el-collapse p{
    text-align: left;
    font-size: 14px;
}
.dialog-login .body .el-collapse ul{
    list-style: decimal;
    margin: 10px 0 0 12px;
}
.dialog-login .body .curve{
    position: absolute;
    right: -90px;
    top: 50%;
}
.dialog-login .body .content-button{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.dialog-login .body .content-button button{
    width: auto;
    height: 48px;
    padding: 0 15px;
}
.dialog-login .body .content-button button span{
    display: flex;
    align-items: center;
}
.dialog-login .body .div-ritz{
    text-align: center;
    border: 2px dotted #efd100;
    padding: 10px;
    border-radius: 20px;
}
.dialog-login .body .div-ritz p{
    margin: 0;
    color: white;
    font-size: 18px;
}
.dialog-login .body .no-more{
    margin: 0;
    color: white;
    font-size: 34px;
    margin-top: 10px
}
.dialog-login .body .card-flotate{
    position: absolute;
    right: -412px;
    top: 23px;
}
.dialog-login .body input{
    height: 30px;
    border-radius: 6px;
    border: none;
}
.dialog-login .body .el-input.error input{
    background: #fabdbd;
}
.dialog-login .body.register{
    margin-top: -15px;
}
.dialog-login .body.register input{
    margin-top: 15px;
}
.dialog-login .body span.error{
    display: block;
    margin-top: 5px;
    color: #f6cf2b;
    font-family: 'eames';
    font-size: 13px;
}
.dialog-login .body input:focus{
    height: 30px;
    border: none;
}
.dialog-login .body input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'eames';
    opacity: 1; /* Firefox */
}

.dialog-login .body input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'eames';
}
.dialog-login .body p{
    font-family: 'eames';
    color: #F6CF2B;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}
.dialog-login .body p.sorprise{
    color: white;
    font-size: 40px;
    font-family: 'eames';
    margin-top: 0;
}
.dialog-login .body p.exit{
    line-height: 29px;
    font-size: 22px;
    margin-top: 0;
    font-family: 'eames-bold';
}
.dialog-login .body .more{
    color: white;
    font-size: 16px;
    margin-top: 0;
}
.dialog-login .body .adult{
    margin-top: 15px;
}
.dialog-login .body .more-2x{
    color: white;
    font-size: 20px;
    margin-top: 5px;
}
.dialog-login .body .card-image{
    width: 100%;
    margin: 20px 0;
}
.dialog-login .body .image{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog-login .body .social{
    text-align: center;
    margin-top: 10px;
}
.dialog-login .body .share-text{
    font-size: 23px;
    margin: 10px 0 30px 0;
}
.dialog-login .body .social span i{
    position: absolute;
    color: white;
    background: red;
    border-radius: 50%;
}
.dialog-login .body .social img{
    padding: 0 8px;
}
.dialog-login .body .title{
    font-size: 22px;
    margin: 20px 0 10px 0;
}
.dialog-login .body .item{
    border: 2px dotted #efd100;
    border-radius: 10px;
    text-align: center;
    padding: 25px 20px;
    margin: 10px 0;
}
.dialog-login .body .item .info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}
.dialog-login .body .item .info img{
    height: 50px;
}
.dialog-login .body .item .info span{
    color: #efd100;
    font-family: 'eames';
    font-size: 70px;
    margin-right: 10px;
}
.dialog-login .body .item .extra{
    color: white;
    font-family: 'eames';
    font-size: 17px;
}
.dialog-login .body .item .extra.bici{
    color: white;
    font-family: 'eames';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-login .body .item .extra.bici img{
    margin-left: 5px;
}
.dialog-login .body .item span{
    color: #efd100;
    font-family: 'eames';
    font-size: 30px;
}
.dialog-login .body p span{
    font-family: 'eames';
    color: #F6CF2B;
    font-size: 19px;
}
.dialog-login .body .button-login{
    background: #F6CF2B;
    border-radius: 6px;
    color: #d31f27;
    font-size: 17px;
    padding: 5px;
    width: 100%;
    border: none;
    height: 30px;
    font-family: 'eames-bold';
    margin-top: 20px;
}
.dialog-login .body .button-login.register{
    margin: 20px 0;
}
.dialog-login .body .button-login:focus,
.dialog-login .body .button-register:focus{
    outline: none;
}
.dialog-login .body .button-register{
    background: none;
    border: 2px solid #F6CF2B;
    border-radius: 6px;
    color: #F6CF2B;
    font-size: 17px;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    height: 30px;
    font-family: 'eames';
}
.dialog-login .el-dialog__header .el-dialog__headerbtn{
    top: 9px;
    right: 13px;
}
.dialog-login .el-dialog__header .el-dialog__title{
    text-align: center;
    line-height: 24px;
    font-size: 27px;
    font-family: 'eames';
    color: #F6CF2B;
}
.dialog-login .el-dialog__header .el-dialog__headerbtn .el-dialog__close{
    color: #F6CF2B;
    font-weight: bold;
    font-size: 25px;
}
.dialog-login .body .el-checkbox{
    color: #F6CF2B;
    margin-bottom: 3px;
}
.dialog-login .body .el-checkbox+.el-checkbox{
    margin-left: 0;
}
.dialog-login .body .el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: #F6CF2B;
    border-color: #F6CF2B;
}
.dialog-login .body .el-checkbox__inner:hover{
    border-color: #F6CF2B;
}
.dialog-login .body .el-checkbox__label{
    color: #F6CF2B;
    font-size: 13px;
}
/* width */
.text::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

/* Track */
.text::-webkit-scrollbar-track {
    background: transparent;
    /* width: 6px !important; */
}

/* Handle */
.text::-webkit-scrollbar-thumb {
    background: #F6CF2B;
}

/* ===================== END HOME =================== */


#meme-generator{
    padding-top: 60px;
}
#meme-generator .section-title{
    position: relative;
}
#meme-generator .section-title img{
    height: 65px;
}
#meme-generator .section-title button{
    background: #f6d02e;
    border: none;
    color: #da2228;
    font-size: 18px;
    border-radius: 12px;
    right: 0;
    bottom: 5px;
    padding: 15px;
    position: absolute;
    font-family: 'eames';
}
#meme-generator .section-title button span{
    display: flex;
    align-items: center;
    font-family: 'helvetica-bold';
}
#meme-generator .section-title button span img{
    height: 20px;
    margin-left: 5px;
    margin-top: -4px;
}
#meme-generator .section-content{
    padding: 50px 200px;
    background: url('../assets/images/background-section.png') center center;
    background-size: cover;
}
#meme-generator .section-content hr{
    border: 2px dotted #ca3621;
    border-style: none none dotted;
    color: #efd100;
    background-color: #efd100;
    width: 100%;
}
#meme-generator #meme-container{
    /*position: relative;*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    padding: 40px;
    justify-content: center;
    /*text-align: center;*/
}
#meme-generator #meme-container .sol{
    position: absolute;
    top: 20px;
    right: -80px;
    width: 180px;
}

#meme-generator #meme-container #meme-image-container{
    border: 2px dotted #e9d300;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#meme-generator #meme-container #meme-tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}
#meme-generator #meme-container #meme-tools button{
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'helvetica-bold';
}
#meme-generator #meme-container #meme-tools .input-row{
    display: flex;
    margin-bottom: 20px;
    position: relative;
}
#meme-generator #meme-container #meme-tools .input-row .color{
    position: absolute;
    /*font-family: 'eames';*/
    font-family: 'helvetica-bold';
    font-size: 15px;
    left: 55px;
    top: 13px;
    color: gray;
    text-transform: uppercase;
}
#meme-generator #meme-container #meme-tools input{
    width: 260px;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    /*font-family: 'eames';*/
    font-family: 'helvetica-bold';
    height: 40px;
}

#meme-generator #image #meme-text-bottom{
    width: 200px;
}
#meme-generator #meme-image img{
    padding: 2px;
}
#meme-generator #meme-image-upload{
    color: #efd100;
}
#meme-generator #meme-image-upload .el-upload-list{
    display: none;
}

#meme-generator #meme-image-upload .el-upload__text{
    margin: 20px 0;
    font-family: 'helvetica-bold';
}
#meme-generator #meme-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
#meme-generator #meme-image-for-screenshot{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#meme-generator #meme-image-for-screenshot #bottom-text{
    position: absolute;
    bottom: 10px;
    /*left: 0;*/
}

#meme-generator #meme-image-for-screenshot #top-text{
    position: absolute;
    top: 10px;
    /*left: 0;*/

}

#meme-generator #meme-bottom-text{
    position: absolute;
    bottom: 10px;
    left: 0;
}

#meme-generator #meme-top-text{
    position: absolute;
    top: 10px;
    left: 0;
}
.el-color-picker{
    width: 260px;
    background: white;
    border-radius: 5px;
    padding: 2px 10px;
}
.el-color-picker .el-color-picker__trigger{
    height: 35px;
    width: 35px;
    border: none;
}
.el-color-picker .el-color-picker__trigger .el-color-picker__color{
    border: none;
}
.el-color-picker .el-color-picker__trigger .el-color-picker__color .el-color-picker__color-inner{
    border-radius: 5px;
}
#meme-generator #meme-top-text input,
#meme-generator #meme-bottom-text input,
#meme-final #top-text,
#meme-final #bottom-text{
    text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000, 2px -5px 5px rgba(164,164,164,0);
}

#meme-final{
    position: absolute;
    left: -2000px;
    top:0;
}

/* ==================== MEME LIST ===================== */
#meme-list{
    padding-top: 60px;
}
#meme-list .section-content{
    padding: 50px 100px;
    position: relative;
    background: url('../assets/images/background-section.png') center center no-repeat;
    background-size: cover;
}
#meme-list .section-content .jesus{
    position: absolute;
    top: 350px;
    left: 60px;
    z-index: 1;
}
#meme-list .section-content .flips{
    position: absolute;
    bottom: 240px;
    right: 100px;
}
/* #meme-list .section-content .pensa{
    position: absolute;
    bottom: 50px;
    left: 240px;
} */
#meme-list .section-content .categories{
    display: flex;
    justify-content: flex-end;
}
#meme-list .section-content .categories div{
    background: #da2228;
    color: #f6d02e;
    font-family: 'helvetica-bold';
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-right: 80px;
}
#meme-list .section-content .categories div.selected {
    background: #f6d02e;
    color: #da2228;
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.62);
}
#meme-list .section-content .categories .selected img{
    position: absolute;
    left: -51px;
    bottom: -37px;
    height: 66px;
}
#meme-list .section-content .meme-list-left{
    /*margin-right: 80px;*/
}
#meme-list .section-content .meme-list-right{
    text-align: center;
    /*margin-left: 80px;*/
}
#meme-list .section-content .meme-list-right img{
    height: 42px;
    margin-top: 3px;
}

#meme-list .section-content .meme-list-right .title{
    /*margin-left: 30px;*/
}

#meme-list .section-content .memes{
    display: flex;
    z-index: 2;
    margin-top: 40px;
}
#meme-list .section-content .memes .block-list{
    overflow-y: auto;
    height: 450px;
    min-width: 540px;
}
#meme-list .section-content .memes .block-list::-webkit-scrollbar{
    width: 6px;
    cursor: pointer;
}
#meme-list .section-content .memes .block-list:-webkit-scrollbar-track{
    background: transparent;
}
#meme-list .section-content .memes .block-list::-webkit-scrollbar-thumb{
    background: #F6CF2B;
}
#meme-list .section-content .memes .list{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
#meme-list .section-content .memes .list .meme{
    height: 215px;
    width: 230px;
    background: #da2228;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0 20px;
    border: 1px solid #efd100;
}
#meme-list .section-content .memes .list .meme .border-image{
    padding: 3px;
    border: 2px dotted #efd100;
    height: calc(100% - 35px);
}
#meme-list .section-content .memes .list .meme .image{
    /* flex: 1; */
    height: 100%;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    /* background: url('../assets/images/meme.png') center center no-repeat; */
}
#meme-list .section-content .memes .list .meme p{
    color: #efd100;
    /*font-family: 'eames';*/
    font-family: 'helvetica-bold';
    text-align: center;
    padding: 13px 0 10px 0;
    cursor: pointer;
    height: 35px;
}
#meme-list .section-content .memes .create{
    display: flex;
    /*justify-content: center;*/
    /*padding: 0px 0 56px 0;*/
    flex-direction: column;
    align-items: center;
}
#meme-list .section-content .memes .create .div-button{
    border: 2px dotted #efd100;
    height: 100%;
    text-align: center;
    padding: 55px 0;
    width: 330px;
    border-radius: 10px;
    margin-left: 10px;
}
#meme-list .section-content .memes .create .block{
    margin-left: 10px;
    padding-top: 106px;
}
#meme-list .section-content .memes .create .div-button img{
    height: 140px;
}
#meme-list .section-content .memes .create a:hover{
    text-decoration: none;
}
#meme-list .section-content .memes .create .div-button .text{
    color: #efd100;
    font-size: 14px;
    margin-top: 20px;
    /*font-family: 'eames';*/
    font-family: 'helvetica-bold';
}
#meme-list .section-content .memes .create .div-button .second-text{
    color: #efd100;
    font-size: 40px;
    margin-top: 10px;
    /*font-family: 'eames-bold';*/
    font-family: 'helvetica-bold';
}
#meme-list .section-content .meme-list-left .block-buttons .block{
    display: flex;
    justify-content: flex-end;
}
#meme-list .section-content .meme-list-right .block-buttons .block{
    display: flex;

}
#meme-list .section-content .meme-list-right .block-buttons .block button{
    /*width: 360px;*/
}
#meme-list .section-content .meme-list-left .block-buttons .block button{
    /*width: 236px;*/
}
#meme-list .section-content .block-buttons .block button{
    background: none;
    border: 2px dotted #efd100;
    font-size: 21px;
    color: #efd100;
    font-family: 'helvetica-bold';
    border-radius: 10px;
    margin-top: 20px;
}

#meme-list .section-content .block-buttons .block button.one{
    height: 50px;
    margin-left: 20px;
    cursor: default;
    margin-right: 160px;
}
/* ==================== END MEME LIST ====================== */

/* ===================== START PROFILE ==================== */
#profile{
    padding-top: 60px;
}
#profile .section-content{
    background: url('/assets/images/meme-generator.png') center center no-repeat;
    background-size: cover;
    position: relative;
}
#profile .section-content .sol{
    position: absolute;
    right: 30px;
    bottom: 150px;
    width: 120px;
}
#profile .block{
    display: flex;
    justify-content: center;
}
#profile .block .info{
    border: 2px dotted #efd100;
    padding: 30px 40px;
    text-align: center;
    border-radius: 20px;
    margin-right: 100px;
}
#profile .block .info a{
    text-decoration: none;
}
#profile .block .info .name{
    color: #efd100;
    font-family: 'helvetica-bold';
    font-size: 22px;
    margin-top: 20px;
    text-transform: capitalize;
}
#profile .block .info .options{
    color: white;
    font-family: 'helvetica-bold';
    font-size: 40px;
}
#profile .block .info .div-button{
    background: url('../assets/images/button-enter.png') center center;
    height: 62px;
    width: 288px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#profile .block .info .div-button p{
    color: #d31f27;
    font-family: 'helvetica-bold';
    font-size: 19px;
}
#profile .block .info .item{
    font-family: 'helvetica-bold';
    font-size: 16px;
    color: #efd100;
    margin-bottom: 13px;
    font-weight: 100;
    padding-left: 30px;
    text-align: left;
}
#profile .block .list{
    width: 500px;
}
#profile .block .empty{
    color: #efd100;
    font-size: 30px;
    font-family: 'helvetica-bold';
    text-align: center;
    margin-top: 100px;
}
#profile .block .list .header{
    display: flex;
    justify-content: space-between;
    background: #efd100;
    border-radius: 10px;
    padding: 10px 40px 10px 20px;
    color: #d31f27;
    font-family: 'helvetica-bold';
}
#profile .block .list .header .margin{
    margin-left: -60px;
}
#profile .block .list .meme-row{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efd100;
    padding: 15px 10px;
    color: #efd100;
    font-size: 14px;
    font-family: 'helvetica-bold';
    align-items: center;
}
#profile .block .list .meme-row .index{
    font-size: 20px;
}
#profile .block .list .meme-row .item{
    border: 2px dotted #efd100;
    border-radius: 10px;
    padding: 2px;
    width: 80px;
}
#profile .block .list .meme-row .item .image{
    width: 100%;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url('../assets/images/galleta-2x.png');
    height: 65px;
    border-radius: 10px;
}
#profile .block .list .el-pagination{
    text-align: center;
    margin-top: 15px;
}
#profile .block .list .el-pagination button{
    background: none;
}
#profile .el-pagination .el-pager li{
    background: none;
    color: #efd100;
    font-family: 'helvetica-bold';
    font-size: 19px;
    height: 31px;
    line-height: 26px;
    border: 1px solid #efd100;
    padding: 0 13px;
}
#profile .el-pagination .el-pager li.active{
    background: #efd100;
    color: #d31f27;
}
/* ===================== END PROFILE ==================== */
/* square */

.full-height{
    /* height: 100vh; */
    /*min-height: 820px;*/
}
/* .full-height.meme{
    height: 100vh;
    min-height: 900px;
} */
.square{
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.square img.left{
    height: 100%;
}

.square .middle{
    background: url(/assets/images/middle-background.jpg) top left repeat;
    flex: 1;
    background-size: contain;
}

.square img.right{
    height: 100%;
}

/* end square */


/* common */
.section-content{
    padding: 100px;
    z-index: 1;
    width: 100%;
    /*height: 100vh; */
    height: 100vh;
    /*height: calc(100vh - 53px);*/
    /* display: flex;
    flex-direction: column; */
    background: url('../assets/images/background-section.png') center center no-repeat;
    background-size: cover;
}

.section-content-extra-height{

}
.section-title{
    /* font-size: 40px;
    font-family: 'eames-bold';
    color: #F6CF2B;
    text-align: center;
    margin-bottom: 20px; */
    text-align: center;
}
.section-title img{
    height: 70px;
}
.section-title.award img{
    height: 55px;
}
.yellow-btn{
    background: #F6CF2B;
    color: #d31f27;
    text-transform: uppercase;
    padding: 13px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /*font-family: 'eames-bold';*/
    font-family: 'helvetica-bold';
}
.dotted-btn{
    background: none;
    border: 2px dotted #F6CF2B;
    color: #F6CF2B;
    text-transform: uppercase;
    padding: 13px;
    border-radius: 5px;
    font-family: 'eames'
}
/* end common */

/* START FOOTER*/
.footer{
    /*display: flex;
    justify-content: space-between;
    padding: 0 50px 11px 80px;*/
    background: url('../assets/images/footer.png') center center;
    background-size: cover;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    bottom: 0;
    /*margin-top: -68px;*/
    /*background-position-y: -30px;*/
    /* position: fixed; */
    /* bottom: 0; */
}
.footer .legend{
    position: relative;
    height: 57px;
}
.footer .legend img{
    height: 130px;
    /*position: absolute;
    top: -90px;
    left: -45px;*/
    margin-top: -90px;
    margin-left: 40px;
}
.footer .social{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.footer .social span{
    margin: 36px 50px 0 0;
    color: #F6CF2B;
    font-family: 'courier';
    cursor: pointer;
}
.footer .social div{
    margin-top: 20px;
}
.footer .social div img{
    cursor: pointer;
    height: 30px;
}
/* END FOOTER */

.meme-preview{
    justify-content: center;
}

.meme-preview img{
    max-width: 500px;
    min-width: 100px;
    width: 100%;
    height: 100%;
}
.lote{
    min-width: 75px;
}


.dialog-terms .el-dialog{
    max-width: 600px;
    background: #d31f27;
    border-radius: 15px;

}
.dialog-terms .el-dialog .text{
    color: white;
    line-height: 17px;
    font-size: 12px;
    font-family: 'helvetica-bold';
    text-align: justify;
    height: 400px;
    padding: 0 5px;
    overflow-y: auto;
}


.dialog-terms .el-dialog .text a{
    color: #efd100;
    text-decoration: underline;
}

.dialog-terms .el-dialog__header{
    text-align: center;
    padding: 30px 20px 10px;
}

.dialog-terms .el-dialog__header .el-dialog__headerbtn .el-dialog__close{
    color: #F6CF2B;
    font-weight: bold;
    font-size: 25px;
}
.dialog-terms .el-dialog__header .el-dialog__title {
    text-align: center;
    line-height: 24px;
    font-size: 27px;
    font-family: 'eames';
    color: #F6CF2B;
}


.el-color-dropdown__btns .el-color-dropdown__link-btn{
    display: none;
}

@media only screen and (min-width: 1367px){
  .mechanics .mechanics-line .first-row img {
    /*width: 70px;
    height: 69px*/;
  }

  .mechanics .mechanics-text {
    font-size: 20px;
    padding-top: 8px;
  }

  .mechanics .mechanics-line {
    padding: 20px 40px;
  }

  .section-title img {
    height: 80px;
  }

  .carousel {
    width: 80%;
    margin: 0 auto;
    display: block;
    float: none;
  }

  .section-title.award img {
    height: 65px;
  }

  .awards .carousel .content .block-flex .item-block.main .right {
    width: 600px;
  }

  #meme-list .section-content {
    padding: 90px 100px;
  }

  #meme-list .section-content .meme-list-left {
    margin-right: 0;
  }

  #meme-list .section-content .meme-list-right {
    margin-left: 0;
    /*margin-right: 80px;*/
  }

  #meme-list .section-content .memes .block-list {
    height: 490px;
  }

  #meme-list .section-content .memes .list .meme {
    width: 250px;
    height: 234px;
  }

  #meme-list .section-content .memes .create .div-button {
    padding: 75px 0;
  }

}

.processing{
    text-align: center;
}