<!--PAGE: HOME -->
<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Promo Ritz</title>
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" >
<meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
<meta name="description"  content="Ponte en Modo Meme con Ritz y gana un viaje a Río de Janeiro ingresando a www.promoritz.com">
<meta property="og:title" content="Ritz">
<meta property="og:description" content="Ponte en Modo Meme con Ritz y gana un viaje a Río de Janeiro ingresando a www.promoritz.com">
<meta property="og:type" content="website">

{% block extrabase %}
<meta property="og:image" itemprop="image" content="{{server}}assets/images/logo-home.png">
{% endblock %}
<meta name="robots" content="index, follow" />

<link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{{ css_minified | raw }}

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<![endif]-->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135553031-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135553031-1');
</script>


</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '738395533228573',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.2'
      });
    };
  </script>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
  <div :class="{'menu': true, 'no-margin': marginMenu == false}" id="menu" style="display: none">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a :class="{'navbar-brand': true, 'logued': logued == true}" href="/home"><img src="/assets/images/logo_header.png" class="logo"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="triangle"></div>
      <div>
        <ul :class="{'navbar-nav': true, 'mr-auto': true, 'logued': logued == true}">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" @click="dialogTermsVisible = true">Términos y condiciones</a>
          </li>
          <li class="nav-item dropdown">
            {# <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mecánica
            </a> #}
            <a class="nav-link" @click="scrollSection('#mechanic')">
              Mecánica
            </a>
            {# <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> #}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/premios">Premios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/ganadores">Ganadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login" @click="loginDialog" v-if="logued == false">INICIAR SESIÓN</a>
            <a class="nav-link user dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click="" v-if="logued">
              <div class="info">
                <div>
                  <p class="name">${username}</p>
                  <p class="points" v-if="points != 1">${points} opciones</p>
                  <p class="points" v-else>${points} opción</p>
                </div>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" v-if="logued">
              <a class="dropdown-item account" href="/perfil">Mi cuenta</a>
              <a class="dropdown-item logout" @click="logout">Cerrar sesión</a>
            </div>
          </li>
          </ul>
        </div>
      </div>
    </nav>
    <el-dialog
    title="INGRESA"
    :visible.sync="dialogVisibleLogin"
    width="380px"
    class="dialog-login">
      <el-row class="body">
        <el-input class="document" placeholder="DNI" v-model="document"  @input="$v.document.$touch()" :class="{ 'error': $v.document.$error }" maxlength="8"></el-input>
        <span class="error" v-if="$v.document.$error">Ingrese su DNI (8 dígitos)</span>
        <el-button class="button-login" @click="login" v-if="!loading">ENVIAR</el-button>
        <beat-loader :loading="loading" color="#efd100" size="20px" style="margin-top:20px;"></beat-loader>
        <p><span>Baia baia</span> si aún no te has registrado, puedes hacerlo aquí.</p>
        <el-button class="button-register" @click="registerDialog">REGÍSTRATE</el-button>
      </el-row>
    </el-dialog>
    <el-dialog
    title="REGISTRO"
    :visible.sync="dialogVisibleRegister"
    width="380px"
    class="dialog-login">
      <el-row class="body register">
        <el-input placeholder="Nombre y apellido" v-model="user.name" @input="$v.user.name.$touch()" :class="{ 'error': $v.user.name.$error }"></el-input>
        <span class="error" v-if="$v.user.name.$error">Ingrese su nombre y apellido</span>
        <el-input placeholder="DNI" v-model="user.documentRegister" @input="$v.user.documentRegister.$touch()" :class="{ 'error': $v.user.documentRegister.$error }"></el-input>
        <span class="error" v-if="$v.user.documentRegister.$error">Ingrese DNI (8 dígitos)</span>
        <el-input placeholder="E-mail" v-model="user.email" @input="$v.user.email.$touch()" :class="{ 'error': $v.user.email.$error }"></el-input>
        <span class="error" v-if="$v.user.email.$error">Ingrese un email válido</span>
        <el-input placeholder="Teléfono" v-model="user.phone" @input="$v.user.phone.$touch()" :class="{ 'error': $v.user.phone.$error }" maxlength="9"></el-input>
        <span class="error" v-if="$v.user.phone.$error">Ingrese su teléfono (7 a 9 dígitos)</span>
        <el-checkbox v-model="isAdult" class="adult">Soy mayor de 18 años</el-checkbox>
        <el-checkbox v-model="acceptedTerms">Acepto términos y condiciones</el-checkbox>
        <el-checkbox v-model="acceptedDates">Acepto el uso de mis datos personales</el-checkbox>
        <el-button class="button-login register" @click="register" v-if="!loading">ENVIAR</el-button>
        <beat-loader :loading="loading" color="#efd100" size="20px" style="margin-top:20px;"></beat-loader>
      </el-row>
    </el-dialog>
    <el-dialog
    title="GRACIAS POR PARTICIPAR"
    :visible.sync="dialogVisibleShareSuccess"
    width="450px"
    class="dialog-login">
      <el-row class="body">
        <div class="content-button">
          <el-button class="button-login"><img src="/assets/images/line-left.png"><span>ACUMULASTE ${optionsEarned} ${optionsEarned == 1?'OPCIÓN':'OPCIONES'}</span><img src="/assets/images/line-right.png"></el-button>
        </div>
        <p class="share-text">¡RECUERDA!</p>
        <div class="div-ritz">
          <p>Si guardas tus empaques de RITZ</p>
          <img src="/assets/images/pensa-2x.png">
          <p>podrás reclamar tu premio</p>
        </div>
      </el-row>
    </el-dialog>
    <el-dialog
    title=""
    :visible.sync="dialogVisibleAwardGift"
    width="350px"
    class="dialog-login">
      <el-row class="body">
        <p class="sorprise">OOOOHHHH</p>
        <div class="item">
          <span>¡Ganaste!</span>
          <div class="info">
            <span>01</span><img src="/assets/images/card-1x.png"/>
          </div>
          <span class="extra">Gift Card de VISA s/100</span>
        </div>
        <p class="sorprise">YEAAHHHH</p>
      </el-row>
    </el-dialog>
    <el-dialog
    title=""
    :visible.sync="dialogVisibleAwardSpotify"
    width="350px"
    class="dialog-login">
      <el-row class="body">
        <p class="sorprise">OOOOHHHH</p>
        <div class="item">
          <span>¡Ganaste!</span>
          <div class="info">
            <span>01</span><img src="/assets/images/spotify-2x.png"/>
          </div>
          <span class="extra">Membresía de 1 año</span>
        </div>
        <p class="sorprise">YEAAHHHH</p>
      </el-row>
    </el-dialog>
    <el-dialog
    title=""
    :visible.sync="dialogVisibleSuccessRegister"
    width="380px"
    class="dialog-login">
      <el-row class="body">
        <p class="exit">¡TUS DATOS SE GUARDARON CORRECTAMENTE!</p>
      </el-row>
    </el-dialog>
    <el-dialog
    title="¡A MI NO ME ENGAÑAS!"
    :visible.sync="dialogVisibleTwelve"
    width="450px"
    class="dialog-login">
      <el-row class="body">
        <div class="div-ritz">
          <img src="/assets/images/face-2x.png">
        </div>
        <p class="no-more">No puedes utilizar màs de 12 veces el mismo número de lote</p>
      </el-row>
    </el-dialog>
    <el-dialog
    title="Términos y condiciones"
    :visible.sync="dialogTermsVisible"
    width="100%"
    class="dialog-terms">
      <el-row class="body">
        <div class="text">
          <p>La presente campaña <u>“Modo Meme con Ritz”</u> (en adelante, la “Campaña”) es realizada y ejecutada por
          MONDELEZ PERU S.A. (en adelante, el “Organizador). Podrán participar en la Campaña todos los participantes
          que compren cualquier producto de las presentaciones del portafolio Ritz (en adelante, los “Participantes”), en
          cualquier establecimiento comercial donde comercialicen dichos productos (en adelante, la “Plataforma”) y se
          llevará a cabo a nivel Nacional, durante el período de vigencia referido en la cláusula sexta y/o hasta agotar
          stock. Stock mínimo: 50.155.000 unidades.</p>
          <br>
          <p>Los Participantes que durante la Vigencia de la Campaña efectúen compras de cualquier producto del portafolio
          Ritz (Ritz Plain (Regular & Ajo y Mantequilla) 22.4g, o Ritz Mini 50g, o Ritz Queso 34g, o Ritz Taco (Regular & Ajo y
          Mantequilla) 67g.; en cualquier establecimiento comercial donde se comercializan los productos Ritz e ingresen
          al landing <a href="https://www.promoritz.com" target="_blank">www.promoritz.com</a> e inscriban sus datos personales con anotación del número de lote del producto
          Ritz adquirido y busquen o creen un meme, etiquetando a sus amigos y lo compartan, podrán obtener una (01)
          opción para participar por los premios instantáneos y el sorteo que se describe más adelante, con base en los
          siguientes términos y condiciones.</p>
          <br>
          <p><strong>PRIMERO: REQUISITOS PARA PARTICIPAR.</strong>&nbsp;Podrán participar de esta actividad, las personas que cumplan los siguientes requisitos:</p>
          <ul>
          <li>Sean mayores de 18 años.</li>
          <li>Compren productos Ritz (cualquier producto de su portafolio).</li>
          <li>Ingresen al landing www.promoritz.com.</li>
          <li>Ingresen sus datos correctamente y participen de la mecánica de la promoción.</li>
          <li>Acepten los presentes términos y condiciones.</li>
          </ul>
          <br>
          <p><strong>SEGUNDO: COMO PARTICIPAR.</strong> Para participar en dicho sorteo, los participantes que compren cualquier producto del portafolio Ritz, ingresan al landing <a href="https://www.promoritz.com" target="_blank">www.promoritz.com</a> e inscriban sus datos personales con anotación del número de lote del producto Ritz adquirido y busquen o creen un meme, etiquetando a sus amigos y lo compartan, contarán con una oportunidad de ganar, instantáneamente, asimismo, una opción para participar del sorteo por los premios secundarios y  premio principal. Los ganadores de los premios instantáneos serán elegidos aleatoriamente de manera automática luego de compartir el meme, mientras que los ganadores del premio principal y premios secundarios serán elegidos por sorteo. Si creas tu meme podrás obtener una (01) opción adicional para participar del sorteo; es decir, si eliges un meme obtendrás una (01) opción para participar del sorteo y si creas tu meme obtendrás dos (02) opciones para participar del sorteo. Cada participante podrá usar un máximo de 12 veces el mismo Nº de Lote participante.
          </p>
          <br>
          <p><strong>TERCERO: SELECCIÓN DE GANADOR.</strong> Todas las opciones serán almacenadas en un sistema diseñado para esta Campaña en la que mediante al azar se sacará a los ganadores. El sorteo será certificado por un Notario Público de Lima. El sorteo se realizará el martes 07 de mayo del 2019, a las 14.00 horas, en las oficinas de MCCANN-ERICKSON CORPORATION PUBLICIDAD S.A. (en adelante, la Agencia), sito en Calle Mártir Olaya N° 169, Piso 13, Miraflores, Lima con presencia de un Notario Público de dicha jurisdicción.
          <p>El resultado y decisión que arroje nuestro sistema y que será plasmado en un Acta Notarial, será final e inapelable y será anunciado en el landing de la promoción www.promoritz.com y en el fan page de Ritz el 09 de mayo del 2019.</p>
          <br>
          <p><strong>CUARTO: NOTIFICACIÓN DE GANADOR.</strong> Los ganadores de los premios instantáneos y de los premios del sorteo (premios secundarios y premio principal) serán notificados por la Agencia, mediante los datos que ingresó al landing y deberán firmar y completar correctamente los documentos que requiera la Agencia, adjuntando el empaque con el Nº de lote ganador. Se les indicará el lugar donde podrán reclamar su premio una vez que la Agencia verifique que los ganadores enviaron toda la información requerida y que cumplió con estos términos y condiciones.<br>En caso de aceptación, los potenciales ganadores serán contactados por la agencia de MONDELEZ PERU S.A. y deberán remitir copia de los siguientes documentos, a la dirección que indique dicha Agencia: (i) de su número de pasaporte (ii) D.N.I. Una vez recibidos y verificados tales documentos, la agencia de MONDELEZ PERU S.A. realizará las coordinaciones correspondientes para la entrega de los premios.</p>
          <br>
          <p><strong>QUINTO: PREMIOS.</strong></p>
          <br>
          <p><strong>PREMIO PRINCIPAL:</strong></p>
          <ul class="awards">
          <li>Dos (02) paquetes turísticos para 3 personas a Río de Janeiro – Brasil, por 5 días y 4 noches, boletos aéreos Lima-Río- Lima, 4 noches de alojamiento en habitación standard, traslados aeropuerto – hotel – aeropuerto, tour Corcovado, tour Pan de Azúcar, Escalera Celaron y Catedral, Cupo para cena en Churrasquería, desayunos e impuestos, seguro de asistencia y una bolsa de viaje de US. $ 100.00 por día.</li>
          </ul>
          <br>
          <p><strong>PREMIOS SECUNDARIOS:</strong></p>
          <ul class="awards">
          <li>Doce (12) celulares Huawei Pro.</li>
          <li>Doce (12) bicicletas Roll sport low entry Specialized.</li>
          </ul>
          <br>
          <p><strong>PREMIOS INSTANTÁNEOS:</strong></p>
          <ul class="awards">
          <li>Cincuenta (50) membresías Spotify por 1 año.</li>
          <li>Ciento cincuenta (150) gift card de Visa de S/. 100.00 cada uno.</li>
          </ul>
          <br>
          <p>Los premios son personales e intransferibles y no podrá ser canjeado por otros bienes o servicios o dinero en efectivo.<br>Para la entrega de los premios correspondientes, resulta obligatorio que el participante entregue su documento de identidad que lo corrobore como mayor de edad. En caso no se cumplan las premisas previamente expuestas, no se le entregará premio alguno.<br>Los premios podrán ser reclamados por los ganadores hasta sesenta (60) días calendario después de culminada la promoción; caso contrario, no se le entregará premio alguno.<br>Una vez que reclame el premio, el ganador del paquete turístico tendrá un (01) año para poder usar su premio.<br>El ganador del paquete turístico deberá tener disponibilidad para viajar en la fecha indicada por el Organizador.</p>
          <br>
          <p>Para el premio del paquete turístico. Se excluyen:</p>
          <ul>
          <li>Llamadas telefónicas de larga distancia, servicio al cuarto, propinas, lavandería, artículos del bar de la habitación, pérdida de bienes del hotel, daños a bienes del hotel o cualquier otro gasto en que se incurra en el hotel.</li>
          <li>Trámite de documentos requeridos de entrada y salida al país donde se llevará a cabo el viaje, como: visa, pasaporte, etc., los cuales serán responsabilidad de los ganadores.</li>
          <li>Gastos personales no relacionados con el programa (compras, transporte a sitios locales durante el tiempo libre que no formen parte del tour, gastos de comida no incluidos, etc.).</li>
          <li>Pérdida de cualquier objeto de alguna de las personas que disfrutarán los premios.</li>
          <li>Cambios en los tiquetes de ida o de vuelta y demás gastos en los que se incurran por dichos cambios por cualquiera de los ganadores que disfruten del premio, aún los originados por fuerza mayor, caso fortuito, actos de la naturaleza etc.</li>
          <li>La obtención de ninguna clase de seguros, pólizas, asistencias de viaje, etc. para los ganadores.</li>
          <li>Cualquier gasto no detallado en la descripción del premio promocionado.</li>
          <li>En caso de modificaciones y/o cancelaciones aplican penalidades más gastos administrativos según políticas de venta de Continental Travel S.A.C favor de consultar al respecto.</li>
          <li>No válidos para Semana Santa, Fiestas Patrias, año nuevo, Fines de Semana Largos, ni feriados largos.</li>
          <li>De existir una diferencia de impuestos por alguna solicitud del ganador al momento de reservar; irán por cuenta del pasajero.</li>
          </ul>
          <br>
          <p>El ganador acepta que todos los detalles del premio (incluyendo los boletos aéreos, el aeropuerto, tours, horas de vuelo, hotel, traslados, etc.) serán definidos por MONDELEZ PERU S.A. a su sola discreción.</p>
          <br>
          <p>El premio principal (paquete turístico) está afecto a cambios ocasionados por la línea aérea. El hotel y días de estadías, se encontrará sujeto a la disponibilidad de cupos y/o cambios de la línea aérea. De producirse un cambio en el evento, éste será debidamente informado al ganador.</p>
          <br>
          <p>El ganador será el único responsable de gestionar la documentación y autorizaciones necesarias para salir del país. El Organizador no será responsable por la tramitación o denegación de ninguna documentación que pudieran necesitar el ganador para realizar el viaje, ni por la denegación de la entrada o permanencia en el país de destino, aun cuando éstos posean toda la documentación necesaria para ingresar a dicho país.</p>
          <br>
          <p>El Organizador se reserva la facultad de decisión respecto de toda situación no prevista en estos términos y condiciones.</p>
          <br>
          <p><strong>SEXTO: PERÍODO DE VIGENCIA.</strong> El período de la Campaña será desde el día 04 de marzo del 2019 hasta el día 30 de abril del 2019 (en adelante, la “Vigencia”).</p>
          <br>
          <p><strong>SEPTIMO: INHABILITADOS PARA PARTICIPAR.</strong> No pueden participar en la Campaña:</p>
          <br>
          <p><strong>OCTAVO. OPERACIONES ILÍCITAS O FRAUDULENTAS CONTRA LA CAMPAÑA. CALIDAD.</strong> El Organizador se reserva el derecho de, a su exclusiva discreción, invalidar cualquier y toda participación de cualquier Participante, si el Organizador considera que el Participante ha tratado de, o efectivamente ha logrado, manipular de forma ilícita o fraudulenta, la administración, la seguridad, la equidad y la debida ejecución de la Campaña. Serán excluidos de participar en la Campaña y de optar por los premios.</p>
          <br>
          <p><strong>NOVENO: RESPONSABILIDAD.</strong> MONDELEZ PERU S.A. será responsable por proporcionar los premios a los ganadores, quienes serán elegidos y notificados por la Agencia y después de que los ganadores acepten los premios, serán contactados por la agencia de MONDELEZ PERU S.A.  solo para propósitos de hacer las gestiones necesarias para entregar los premios a los ganadores. Ni MONDELEZ PERU S.A. ni su Agencia serán responsables por los daños o perjuicios que pudieren sufrir los ganadores, o terceros con motivo y/u ocasión del uso de los premios, declinando todo tipo de responsabilidad contractual y/o extracontractual frente a los ganadores y/o terceros, lo que es aceptado incondicionalmente por cada Participante. El reclamo del premio implicará la aceptación de esta condición y la renuncia a formular cualquier reclamo por las causales anteriores.</p>
          <br>
          <p>Ni MONDELEZ PERU S.A. ni su Agencia asumen ninguna responsabilidad por los daños que pudiere causarle al ganador del paquete turístico, el incumplimiento, retraso, cancelación de los vuelos comerciales objeto del premio, en tanto que ésta se entiende responsabilidad exclusiva de la compañía prestadora del servicio aéreo. </p>
          <br>
          <p>Ni MONDELEZ PERU S.A. ni su Agencia asumen ninguna responsabilidad por los daños que pudiere causarle al ganador del paquete turístico el incumplimiento, retraso, cancelación del evento y demás actividades relacionadas como premios de la presente Campaña, en tanto que ésta se entiende responsabilidad exclusiva de los entes organizadores de tales eventos.</p>
          <br>
          <p>MONDELEZ PERU S.A.  podrá modificar los presentes Términos y Condiciones en los términos que juzgue convenientes cuando se presenten circunstancias que constituyan caso fortuito o fuerza mayor que lo hicieran necesario, sin que ello genere derecho alguno o reclamo por parte de los Participantes.</p>
          <br>
          <p><strong>DECIMO PRIMERO: TERRITORIO.</strong> La Campaña únicamente estará disponible para los Participantes domiciliados en cualquier ciudad de territorio Peruano.</p>
          <br>
          <p><strong>DECIMO SEGUNDO: DATOS PERSONALES.</strong></p>
          <br>
          <p>Al momento de facilitar sus datos personales a la Agencia, los Participantes prestan expreso consentimiento a la Agencia para que tales datos puedan ser utilizados por la Agencia para propósitos del sorteo con fines publicitarios y de marketing en general. La información brindada por los Participantes será tratada en los términos previstos por la Ley N° 29733, Ley de Protección de Datos Personales y su Reglamento</p>
          <br>
          <p>MONDELEZ PERU S.A. no recolecta, almacena, transmite ni recibe datos personales de los Participantes de la Campaña, excepto  los compartidos por la Agencia con el objeto único  de hacer efectivo el goce de los Premios.  La Agencia es el único responsable del manejo de datos que  recolecte, almacene o reciba de los Participantes en virtud de la Campaña. Mondelez no es responsable por cualquier uso que la Agencia haga con la información personal de los Participantes. La persona encargada por parte de la Agencia es María Isabel Bravo con teléfono 6108100 anexo 0145 y correo electrónico Mariaisabel.Bravo@momentumww.com</p>
          <br>
          <p>La Agencia y el Organizador declaran que respetan los principios de legalidad, consentimiento, finalidad, proporcionalidad, calidad, disposición de recurso, nivel de protección adecuado, conforme a las disposiciones previstas en la Ley de Protección de Datos vigente en Perú, su reglamento, modificatorias y demás normas conexas.</p>
          <br>
          <p>La Agencia y el Organizador se comprometen a guardar la más absoluta confidencialidad en el tratamiento de aquellos datos personales a las cuales tengan acceso en virtud de la presente promoción, siendo que dicha obligación de confidencialidad subsistirá aun cuando está ya no se encuentre vigente.</p>
          <br>
          <p><strong>DECIMO TERCERO: OTROS TEMAS LEGALES</strong></p>
          <p>La calidad e idoneidad de los productos y/o servicios comprados durante la Vigencia de la Campaña, son exclusiva responsabilidad de los vendedores y del fabricante, así como del cumplimiento de todas las normas relacionadas con la producción, sanidad y uso de los mismos.</p>
          <br>
          <p>El Organizador validará que dichos potenciales ganadores cumplan con los requisitos enunciados en estos términos y condiciones.</p>
          <br>
          <p>En caso de que los potenciales ganadores no cumplan con las condiciones previstas, se tomará al primer suplente y se realizará el mismo proceso de validación. Así sucesivamente hasta encontrar a los potenciales ganadores que cumplan con todas las condiciones.</p>
          <br>
          <p>Al participar se entenderá que los Participantes, han aceptado íntegramente estos Términos y Condiciones.</p>
          <br>
          <p>En caso de tener cualquier duda o aclaración relacionada con la Campaña o estos términos y condiciones, el Participante podrá revisar el Q&amp;A  a través de la web <a href="https://www.promoritz.com" target="_blank">www.promoritz.com</a></p>
          <br>
          <p>En caso de contar con algún problema con la web, el usuario se deberá comunicarse con la línea de atención al consumidor 0-800-157-23, o enviar un correo a laconsumer@mdlz.com y sustentar el reclamo con alguna prueba física (print de pantalla).</p>
          <p>Si usted tiene alguna inquietud, comentario, solicitud o pregunta relacionada con estas condiciones y restricciones o las prácticas de información de este sitio, o si usted desease borrar comunicaciones futuras o interponer una queja o reclamo, por favor contáctenos a través de la línea gratuita 0-800-157-23, o a través del correo electrónico:  laconsumer@mdlz.comEl Organizador no se hace responsable de las creaciones de memes de parte de los Participantes en la cual puedan usar alguna figura pública.<br>
          Esta promoción se considerará emitida conforme a las leyes aplicables en el territorio de la República de Perú. A todos los efectos legales que de ella surgieran, serán interpretados y ejecutados conforme y de acuerdo a las disposiciones y tribunales de este país. Para el caso de contienda judicial sobre la interpretación y cumplimiento de cada uno de los términos de los presentes Términos y Condiciones, será competente únicamente la justicia civil y comercial de la Ciudad de Lima, con expresa renuncia de los Participantes a todo otro fuero o jurisdicción que pudiera corresponderle.</p>
          <br>
          <p>El solo hecho de participar en la presente promoción, implica el conocimiento y aceptación, por parte de los Participantes de todas y cada una de las cláusulas integrantes en los presentes Términos y Condiciones.</p>
          <br>
          <p style="text-align: center;">TEXTO LEGAL</p>
          <br>
          <p>Promoción válida a nivel nacional para peruanos y extranjeros residentes en Perú mayores de dieciocho (18) años del 04 de marzo del 2019 al 30 de abril del 2019 y/o hasta agotar stock. Participan todas las presentaciones del portafolio Ritz. Para participar, ingresa a la web <a href="https://www.promoritz.com" target="_blank">www.promoritz.com</a>, regístrate, edita o crea memes e ingresa los números de lote de los empaques y estarás participando por premios principales, secundarios e instantáneos. Premio principal: 2 paquetes a Rio de Janeiro para 3 personas, que incluye el vuelo Lima-Rio-Lima, 4 noches de alojamiento, traslados y tour a las principales atracciones de Rio de Janeiro; Premios secundarios: 12 Huawei PRO y 12 bicicletas Roll sport low entry Specialized; Premios instantáneos: 150 Gif card Visa con un valor de 100 soles y 50 membresías por un año de Spotify. Fecha y hora del sorteo: martes 07 de mayo del 2019 – 14:00 horas, en presencia notarial. Anuncio del ganador: 09 de Mayo de 2019 a través de la página <a href="https://www.promoritz.com" target="_blank">www.promoritz.com</a> y fan page de Ritz.</p>
          <br>
          <p>Para más información leer términos y condiciones en la web <a href="https://www.promoritz.com" target="_blank">www.promoritz.com</a>.</p>
        </div>
      </el-row>
    </el-dialog>
  </div>
{% block content %}

{% endblock %}
<el-row class="footer" id="footer" style="display: none">
  <el-col :xs="4" :sm="6" :md="6" :lg="12" :xl="12" class="legend">
    <img src="/assets/images/logo-home.png">
  </el-col>
  <el-col :xs="20" :sm="18" :md="18" :lg="12" :xl="12" class="social">
    <span @click="dialogVisibleQuestions = true">PREGUNTAS FRECUENTES</span>
    <div>
      <a target="_new" href="https://www.facebook.com/RitzGalleta/"><img src="/assets/images/fb-2x.png"/></a>
      <a target="_new" href="https://www.youtube.com/user/GalletaRitzPeru"><img src="/assets/images/play-2x.png"/></a>
    </div>
  </el-col>
  <el-dialog
    title="PREGUNTAS FRECUENTES"
    :visible.sync="dialogVisibleQuestions"
    width="800px"
    class="dialog-login">
      <el-row class="body">
      <el-collapse v-model="activeQuestion" accordion>
        <el-collapse-item title="1. ¿EN QUÉ CONSISTE LA PROMO “MODO MEME CON RITZ”?" name="1">
          <div>Para participar de la promoción Modo Meme con Ritz, los participantes que compren cualquier producto del portafolio Ritz, deberán ingresar al landing www.promoritz.com e inscribir  sus datos personales con anotación del número de lote del producto Ritz adquirido y busquen o creen un meme, etiquetando a sus amigos y lo compartan, contarán con una oportunidad de ganar, instantáneamente, asimismo, una opción para participar del sorteo por los premios secundarios y  premio principal. Los ganadores de los premios instantáneos serán elegidos aleatoriamente de manera automática luego de compartir el meme, mientras que los ganadores del premio principal y premios secundarios serán elegidos por sorteo. Si creas tu meme podrás obtener una (01) opción adicional para participar del sorteo; es decir, si eliges un meme obtendrás una (01) opción para participar del sorteo y si creas tu meme obtendrás dos (02) opciones para participar del sorteo. Cada participante podrá usar un máximo de 12 veces el mismo Nº de Lote participante.</div>
          <div>
            <p>Restricciones</p>
            <ul>
              <li>No se aceptará la posibilidad de intercambiar el premio por dinero en efectivo, ni por otra especie.</li>
              <li>Los ganadores serán contactados vía telefónica y/o vía correo electrónico, a efectos de coordinar la entrega del permio que le corresponda. En caso de no lograrse comunicación con el ganador, este podrá verificar en la página web si ha obtenido o no el premio, pudiendo reclamar su premio dentro de un plazo máximo de sesenta (60) días calendario. El referido plazo de noventa (60) será computado desde el día siguiente de cada sorteo.</li>
              <li>El usuario acepta expresamente que MDLZ y la agencia únicamente se limitan a otorgar el premio del paquete turístico, pero en ninguna circunstancia se encargarán de gestionar los trámites de la visa, pasaporte y/o demás pertinentes para efectuar el viaje. El usuario y su acompañante son responsables de cumplir con todos los requisitos necesarios y vigentes para poder realizar el viaje de manera lícita. En ese sentido, se deja constancia de que es decisión y responsabilidad exclusivas del ganador si utiliza o no el premio.</li>
            </ul>
          </div>
        </el-collapse-item>
        <el-collapse-item title="2. ¿CÓMO SE GESTIONARÁ LA ENTREGA DE PREMIOS?" name="2">
          <div>Los ganadores de los premios instantáneos y de los premios del sorteo (premios secundarios y premio principal) serán notificados por la Agencia, mediante los datos que ingresó al momento de registrarse en la landing y deberán firmar y completar correctamente los documentos que requiera la Agencia, adjuntando el empaque con el Nº de lote ganador. Al momento de ser contactados, se les indicará el lugar donde podrán reclamar su premio una vez que la Agencia verifique que los ganadores enviaron toda la información requerida y que cumplió con estos términos y condiciones.</div><br>
          <div>En caso de aceptación, los potenciales ganadores serán contactados por la agencia de MONDELEZ PERU S.A. y deberán remitir copia de los siguientes documentos, a la dirección que indique dicha Agencia: (i) de su número de pasaporte (ii) D.N.I. Una vez recibidos y verificados tales documentos, la agencia de MONDELEZ PERU S.A. realizará las coordinaciones correspondientes para la entrega de los premios.</div>
        </el-collapse-item>
        <el-collapse-item title="3. ¿CUÁNTO TIEMPO DURA LA PROMOCIÓN?" name="3">
          <div>La promoción entrará en vigencia desde el 04 de marzo del 2019 al 30 de abril del 2019.</div>
        </el-collapse-item>
        <el-collapse-item title="4. ¿QUÉ EMPAQUES PARTICIPAN EN LA PROMOCIÓN?" name="4">
          <div>Participan los siguientes empaques del portafolio de Ritz: Ritz Plain (Regular & Ajo y Mantequilla) 22.4g, o Ritz Mini 50g, o Ritz Queso 34g, o Ritz Taco (Regular & Ajo y Mantequilla) 67g.</div>
        </el-collapse-item>
        <el-collapse-item title="5. ¿CÓMO ME ENTERO SI GANÉ UN PREMIO?" name="5">
          <div>El sorteo final se realizará el 07 de Mayo, y el ganador se anunciará el día 09 de Mayo.</div><br>
          <div>Los ganadores serán contactados vía telefónica y/o vía correo electrónico, a efectos de coordinar la entrega del premio que le corresponda. En caso de no lograrse comunicación con el ganador, este podrá verificar en la página web si ha obtenido o no el premio, pudiendo reclamar su premio dentro de un plazo máximo de noventa (60) días calendario culminada la promoción; caso contrario, no se le entregará premio alguno.</div>
        </el-collapse-item>
        <el-collapse-item title="6. ¿DEBO GUARDAR TODOS MIS EMPAQUES?" name="6">
          <div>Si el participante resulta ser uno de los ganadores de los premios secundarios ó primarias, se revisará la cantidad de puntos que obtuvo por ingresar N° de lotes y, al momento de reclamar su premio, el participante deberá de presentar tantos empaques como puntos con los que participó válidamente. Los números de lote ingresados en la web deben coincidir con los números en el empaque.</div>
        </el-collapse-item>
        <el-collapse-item title="7. ¿CÓMO CANJEO LOS PREMIOS INSTANTÁNEOS?" name="7">
          <div>Cada viernes se notificará el listado de aquellos ganadores que, durante la semana, han ganado un premio de tipo instantáneo. Esto será actualizado en la landing de Ritz. El ganador será contactado por la Agencia para coordinar fecha y hora para la entrega de su premio. El ganador deberá portar su Documento de Identidad para validar los datos de registro ingresados en la web.</div>
        </el-collapse-item>
        <el-collapse-item title="8. SI YA GANÉ UN PREMIO, ¿AÚN TENGO LA POSIBILIDAD DE GANAR OTRO PREMIO?" name="8">
          <div>Únicamente si ganas un premio instantáneo podrás tener la posibilidad de participar en el sorteo y ganar otro premio (premio principal y premios secundarios). El ganador de un premio secundario ya no podrá participar por otro premio secundario, y tampoco por el premio principal. El ganador del premio principal sólo podrá ganar dicho premio.</div>
        </el-collapse-item>
        <el-collapse-item title="9. ¿QUÉ HACER SI EL SISTEMA SE CUELGA Y NO PUEDO PARTICIPAR?" name="9">
          <div>En caso de contar con algún problema con la web, el usuario se deberá comunicarse con la línea de atención al consumidor 0-800-157-23, o enviar un correo a laconsumer@mdlz.com y sustentar el reclamo con alguna prueba física (print de pantalla).</div>
        </el-collapse-item>
        <el-collapse-item title="10. ¿DÓNDE PUEDO INTERPONER UNA QUEJA O RECLAMO SOBRE LA PROMOCIÓN?" name="10">
          <div>Si usted tiene alguna inquietud, comentario, solicitud o pregunta relacionada con estas condiciones y restricciones o las prácticas de información de este sitio, o si usted desease borrar comunicaciones futuras o interponer una queja o reclamo, por favor contáctenos a través de la línea gratuita 0-800-157-23, o a través del correo electrónico:  laconsumer@mdlz.com.</div><br>
          <div>Para que los comentarios sean publicados en nuestros canales de Social Media, deberán ser respetuosos y generar un diálogo.</div>
        </el-collapse-item>
      </el-collapse>
      </el-row>
  </el-dialog>

</el-row>

<script>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.4/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
<script src="https://unpkg.com/vuelidate@0.7.4/dist/validators.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://unpkg.com/element-ui@2.5.1/lib/index.js"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="/assets/js/vue-spinner.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>
<script>
  ELEMENT.locale(ELEMENT.lang.es)
  Vue.use(VueScrollTo)
  Vue.use(window.vuelidate.default)
  var emailValidator = window.validators.email
  var alphaValidator = window.validators.alpha
  var requiredValidator = window.validators.required
  var minLengthValidator = window.validators.minLength
  var maxLengthValidator = window.validators.maxLength
  var numericValidator = window.validators.numeric
  var integerValidator = window.validators.integer
  var helpers = window.validators.helpers
  var loteValidator = helpers.regex('lote', /^[a-zA-Z]{2}\d{10}$/)

</script>
{% block extra_js %}
{% endblock %}

{{ js_minified | raw }}


</body>

<!--FOOTER -->
{# <footer class="footer">
</footer> #}
</html>
